[2016-03-22 16:39] kball opened #1 "Tribute.attach breaks if passed a jquery object"
I know Tribute doesn't require jquery, but it seems like it should play nicely with it.  If I call attach with a jquery object I get the following error:

[code]

I think the reason is Tribute is explicitly checking for NodeList instead of just accepting any array-like set of elements

[2016-03-22 16:43] kball commented on #1
This also results in tribute breaking if passed items found by 'getElementsByClassName' which returns set with constructor HTMLCollection

[2016-04-14 17:57] mrsweaters commented on #1
Resolved with these three commits:
https://github.com/zurb/tribute/commit/66ff94853cf2f41b1efa52128450370b6da0d818
https://github.com/zurb/tribute/commit/e1499e695ee1caa999add1ea0ad0379597b2e31f
https://github.com/zurb/tribute/commit/67c861741e37a7a45f60e4c62d231d976d21507c

[2016-04-14 17:57] #1 closed

[2016-06-07 14:31] jeffsacco opened #4 "Error on CKeditor integration"
Hello

Just want to say love the package.  I want to help out getting this working CKEditor.  Currently getting this error when I try to attach it to the CK editor ID on my text area

Error: [Tribute] Must pass in a DOM node or NodeList.

Just wondering if we could start the discussion on getting this integrated.  If you can point me in the right direction, I can dive into the code and help out.

[2016-06-07 23:44] mrsweaters commented on #4
@jeffsacco Can you share how you are initializing Tribute? I'd love to get this playing nicely with WYSIWYG editors!

[2016-06-17 18:55] snarkitect opened #5 "Request for Callback"
We're using knockout, and It would be great to have a callback after text is replaced.  This isn't playing nicely with the textInput binding in knockoutjs, and it would help to be able to track the changes applied by tributejs.

[2016-06-18 00:12] mrsweaters commented on #5
@snarkitect Does this solve your problem? https://github.com/zurb/tribute/pull/6

[2016-06-20 21:51] snarkitect commented on #5
@mrsweaters Thanks for the quick response here. This would indeed solve the issue we're running into.

[2016-06-20 22:04] mrsweaters commented on #5
No problem! Merged.

[2016-06-20 22:04] #5 closed

[2016-06-23 13:02] ismailhakkieren opened #8 "How to use values from json"
first of all mey english isnot very good sorry for this. Iwant to use values form json but
I try a lot of way but i couldnt do it. itry dataType json. jsonp not working list is empty. when i try html i can see values pattern on console just like yours. But icant get it. Console error arr.reduce is not a function

....
   return arr.reduce(function (prev, element, idx, arr) {
....

please help me m

[2016-06-23 13:12] ismailhakkieren commented on #8
[{"Key":"korhanerdem@gmail.com","Value":"","Email":"26","Picture":""},{"Key":"asen@avkom.com","Value":"Abdullah SEN","Email":"4","Picture":"/images/avatars/01390-5.png"},{"Key":"altuntas.avcm@gmail.com","Value":"Emine","Email":"21","Picture":"https://s3.amazonaws.com/bucket_d908dfab-6/member_9d96d97e-b/profilephotos/…GIPCMY2WR2FDOQ&Expires=2087630062&Signature=FNgrJehwYT9vQL7ngLq52wVDcKE%3D"},{"Ke

[2016-06-23 16:48] mrsweaters commented on #8
Glad to help! `values` accepts an array of JSON objects, not a JSON string. So you should be able to just pass it the `data` object.

If that doesn't help, create a [JSFiddle](https://jsfiddle.net/) or similar demonstrating your issue and I can debug it from there.

[2016-06-23 19:10] mattschwarz opened #9 "Anchor suggestions below input field"
This is more of a feature suggestion, if that's OK: it would be great if you could pass an option to have the suggestions menu render below the field instead of at the trigger character location (and have the width of the list automatically set to match the field above, etc). I could see folks wanting the option depending on their app's style.

[2016-06-24 08:48] dmail opened #10 "Tribute menu wrong position when body is scrolled on contenteditable elements"
When the window is scrolled it's correctly taken into account by [getTextAreaOrInputUnderlinePosition](https://github.com/zurb/tribute/blob/cdb396d904bbf7385639b84e12bed8910904cca0/js/tribute.js#L781). However its contenteditable sibling [getContentEditableCaretPosition](https://github.com/zurb/tribute/blob/cdb396d904bbf7385639b84e12bed8910904cca0/js/tribute.js#L846) does not consider window scrol

[2016-06-24 20:09] mrsweaters commented on #10
@dmail I can see where this would be problematic. What we need to do is create a scenario that reproduces this. Can you add an example of the issue to the `example/index.html` file?

[2016-06-24 20:11] mrsweaters commented on #9
@mattschwarz Good idea. Can you mock up an example of how this configuration would work with a code example? Then I can go in and create a pull request for your review.

[2016-06-24 20:20] mattschwarz commented on #9
Sure!

[2016-06-26 07:26] alexthewilde opened #11 "(bug) text between mentions inside textarea getting deleted"
There's a critical bug occurring within a textarea upon deleting a mention and then hitting enter. You can reproduce this behaviour in the Tribute Demo:

1. Enter a mention followed by text followed by another mention:
[code]

2. Remove second mention using backspace key
[code]

3. Hit enter: complete `lorem ipsum` text after first mention gets removed
[code]

[2016-06-27 09:04] dmail commented on #10
After testing it appears that taking into account the scroll of ancestor elements is required when tributeMenu & inputElement **have different scrollable ancestor**.

This is not the case in `example/index.html` because the `menuContainer` options is set `document.getElementById('content')` to append the tributeMenu in the same scrollable ancestor.

In conclusion
- The suggested fix is enough used

[2016-06-27 15:56] mrsweaters commented on #10
@dmail Thank you! You brought up a good point, it seems like `menuContainer` and your suggested fix is the best way to go here. I'll look over your PR and see if there is any other possible approach we can take.

[2016-06-27 16:01] mrsweaters commented on #11
@alexthewilde I am able to reproduce this. Thank you for reporting. It looks like the active state is not getting disabled in some scenarios. I'll see if I can track this down today.

[2016-06-27 19:37] dmail commented on #10
Yeah my approch, the buttons and javascript to force the scroll, have strong chances to break as the `index.html` file changes but was the faster/cleaner way to illustrate my point at the moment.
Feel free to find something better ;)

[2016-06-29 12:37] ismailhakkieren commented on #8
i made it thanks.
data = JSON.parse(data);

[2016-06-29 12:37] #8 closed

[2016-06-29 12:39] ismailhakkieren opened #13 "remove mention action"
When i add mention i add input value item.original.key but when i remove mention i want to remove this parametre how ican do it please help me

i need just like this...
document.getElementById('mainEditor').addEventListener('tribute-**removed**', function (e) {
    console.log('Text replaced by Tribute!');
});

[2016-06-30 08:38] alexthewilde commented on #11
@mrsweaters great! I'm happy to help out with testing as I really want to use tribute in production soon.

[2016-06-30 15:48] mrsweaters commented on #13
@ismailhakkieren So you need an event that let's you know when the mention is removed from the target element?

[2016-06-30 16:39] mrsweaters commented on #11
@alexthewilde Please test https://github.com/zurb/tribute/pull/14 to see if it fixes your issue.

[2016-06-30 17:08] mrsweaters commented on #10
@dmail From what I can tell, it looks like the current code positions correctly in your pull request, but when I scroll then I lose my position *until* I start typing again, at which point it repositions. Maybe we need to bind to the `onscroll` event for both the window and the target element and when those change, reposition the menu?

[2016-07-01 08:37] ismailhakkieren commented on #13
yes it gone be perfect

[2016-07-01 09:44] alexthewilde commented on #11
@mrsweaters that fixes it perfectly, thanks a bunch!

[2016-07-01 12:34] dmail commented on #10
Do we agree that there is two issue ?

# Issue 1
## step to reproduce
- I'm in the contenteditable element
- Menu is not opened
- body is scrolled
- I type in the field

## Bug description
Menu is badly positionned

## Suggested fix
Can be fixed as suggested in the first comment

# Issue 2

## step to reproduce
- I'm in contenteditable element or traditional form element
- Menu is opened
- I scrol

[2016-07-01 15:43] #11 closed

[2016-07-13 19:18] mattschwarz opened #15 "Add a "nothingFound" event"
It would be great if an event was fired when a user tried to search something and there were no matches in the collection. When trying to be judicious about sending large collections to the client, having this event could let us update the list on the fly with another large page of data without loading it all up front.

[2016-07-13 23:28] mrsweaters commented on #15
This seems reasonable to me. Currently I'm hiding the menu when there is nothing found in the collection. Will this conflict with your goal?
https://github.com/zurb/tribute/blob/master/js/tribute.js#L197

[2016-07-13 23:45] snarkitect opened #16 "Bundling and use of "use strict""
This is more of an enhancement, but we bundle and minify/compress this code, and it would be great if the  'use strict';  line was contained so that we didn't have to worry about it affecting our other code that's out of scope.

For now, we've had luck wrapping the whole tribute.js library in an IIFE, but there might be a better solution that we haven't thought of.

[2016-07-14 05:00] mattschwarz commented on #15
Good question, it would be nice to be able to keep the menu available even when there is no result to give the event enough time to load another collection. Perhaps a loading state is in order?

[2016-07-15 17:48] mattschwarz commented on #15
To expand on that last thought: my project has a custom loading `.gif` and it would be great to display that in the menu as a dummy list item while the other collection loads. You could possible also have a config option to keep the list hidden for those who don't care about a loading state like me :)

[2016-07-15 18:15] mrsweaters commented on #15
This makes sense, so maybe if you define an `noMatchTemplate` function we then load that  instead of hiding the list?

[2016-07-15 18:22] mattschwarz commented on #15
That would be great!

[2016-07-16 00:16] mrsweaters commented on #15
Please test this pull request: https://github.com/zurb/tribute/pull/17

[2016-07-18 20:13] mattschwarz commented on #15
Looking good so far, just a couple things I've noticed based on how I think it should work:
- After the collection is updated inside the `tribute-no-match` event, the list continues to render the `noMatchTemplate` instead of updating to show new results.
- When you backspace to start filtering again (because the list doesn't update on its own), two lists begin to render, one behind the other.
- Th

[2016-07-20 14:10] joaolavoier commented on #10
When this issue will be fixed?

[2016-07-20 15:16] dmail commented on #10
I don't have much time atm but I can tell you without testing that adding the code below
[code]
after [line#256] (https://github.com/zurb/tribute/blob/cdb396d904bbf7385639b84e12bed8910904cca0/js/tribute.js#L256) should fix the scroll issue.

@mrsweaters do you think you can add these two fix soon ?

[2016-07-20 15:20] mrsweaters commented on #10
@dmail @joaolavoier Sorry guys, been crazy busy the past few days. I should have some time to test this out today.

[2016-07-20 15:23] mrsweaters commented on #15
@mattschwarz Thank you for testing it out! I'll take a look at this today.

[2016-07-20 15:55] mrsweaters commented on #10
@dmail @joaolavoier Please test this pull request: https://github.com/zurb/tribute/pull/18

[2016-07-20 23:16] mrsweaters commented on #15
@mattschwarz I have pushed up a bunch of fixes to that pull request. Along with the fixes in https://github.com/zurb/tribute/pull/18, there may be enough here for a major release. As far as the multiple calls to `no-match`, this happens because a lookup is fired on each keyup event. If collection values are being manipulated, you will have to be sure that duplicates are not inserted.

I have added

[2016-07-20 23:19] mrsweaters commented on #16
This is being added by babel. I'm not sure if there is a way to keep babel from injecting this.

[2016-07-20 23:23] #10 closed

[2016-07-21 12:06] ismailhakkieren commented on #13
@mrsweaters when will you finish this enhancement

[2016-07-21 16:09] mrsweaters commented on #15
I've merged into master, seems to be working pretty well.

[2016-07-21 16:10] #15 closed

[2016-07-21 16:21] mrsweaters commented on #13
@ismailhakkieren After looking at this, I'm not sure how I would know when a mention is removed. Once the text is replaced, it just becomes regular content in your target element. We are no longer tracking it at that point? Do you have any ideas on how to track these updates?

[2016-07-21 16:41] mattschwarz commented on #15
Great, will test!

[2016-07-21 19:26] joaolavoier opened #21 "The `dist` directory was deleted"
Hi @mrsweaters, thanks to accept my pull-request!

But, there is anything wrong and **URGENT** to fix with the `dist` directory, I don't know if the problem was happened because i included the `dist` directory to `.gitignore`.

I went update my TributeJS to new version on my project by **npm** and the `dist` directory disappeared.

[2016-07-21 20:36] mrsweaters commented on #21
@joaolavoier The `dist` directory was added to the `.gitignore` file. You can just run `gulp` to rebuild it.

[2016-07-21 20:37] mrsweaters commented on #21
oh i see. I'll add it back in.

[2016-07-21 20:39] mrsweaters commented on #21
Fixed: https://github.com/zurb/tribute/releases/tag/2.0.1

[2016-07-21 20:39] #21 closed

[2016-07-23 19:00] mrsweaters opened #24 "lookup should accept a function"
The `lookup` config should accept a function that allows you to construct a lookup value by concatenating attributes on the item as well as the the current approach, a string representing the attribute to query against.

ex.
[code]

or

[code]

Default will still lookup against a `key` attribute.

[2016-07-23 19:36] #24 closed

[2016-07-25 10:11] victorsolis opened #26 "Brunch Error"
Hi. I ran into this error when I tried to use `2.0.1` with brunch `2.8.2`.

[code]

Is this a brunch issue?

[2016-07-25 12:42] jmlavoier commented on #26
@victorsolis Do you installed by npm? Try to install with `npm install git@github.com:jmlavoier/tribute.git`. Because the npm is not updated yet.

[2016-07-25 15:59] mrsweaters commented on #26
@victorsolis @jmlavoier The new import syntax from https://github.com/zurb/tribute/pull/23 has been published to 2.0.2

[2016-07-26 14:00] victorsolis commented on #26
I tried it again with `2.0.2` and now I'm getting this:
[code]

From: https://github.com/zurb/tribute/pull/23/files#diff-1fdf421c05c1140f6d71444ea2b27638R6

[2016-07-26 15:07] syropian opened #27 "appendCurrent doesnt seem to do anything"
I'm having trouble appending/replacing the items. Here's a little JSFiddle https://jsfiddle.net/jrpar74q/

Am I missing something obvious? I tried passing `true` as a second arg to replace the items, and that didn't work either.

[2016-07-26 15:45] mrsweaters commented on #27
`appendCurrent` only works if there is an active instance of Tribute, meaning that someone has typed a trigger character and the menu is visible. Use `append` if there is no active instance.

[2016-07-26 16:49] syropian commented on #27
@mrsweaters Looking at the source, it looks like both `append()` and `appendCurrent()` call a private `_append()` function that always checks if the menu is visible (see https://github.com/zurb/tribute/blob/master/src/Tribute.js#L251-L259)

[2016-07-26 16:59] mrsweaters commented on #27
Ah! You are correct, that should actually be specific to `appendCurrent`. This is a bug.

[2016-07-26 17:02] syropian commented on #27
Cool, thanks for confirming! I'm currently working on a VueJS wrapper for Tribute, so due to the way data would be passed to the plugin, I can simply manually replace all the data whenever it changes doing something like:

[code]

[2016-07-26 17:41] mrsweaters commented on #27
@syropian Yeah that should work. Thanks for working on a wrapper for VueJS! When you're done, feel free to submit a PR to add it to the repo. That would be sweet!

[2016-07-26 18:05] mrsweaters commented on #27
Fixed in 2.0.3!

[2016-07-26 18:05] #27 closed

[2016-07-26 18:06] mrsweaters commented on #26
@victorsolis This should be fixed in 2.0.3, which has been published. Please test it and confirm.

[2016-07-26 20:24] syropian commented on #27
Will do, how do you want me to go about creating a PR? Just a link in the README to the wrapper repo?

[2016-07-26 20:29] mrsweaters commented on #27
Sure, that will be fine.

[2016-07-26 21:44] joaolavoier commented on #26
@mrsweaters I see that you changed the "main" config of package.json to fixed this, but i think it's not right. You need to keep "main" setted to compiled file. Because not all have a project to build with modules `import`, this are many people that work with `require`.

To resolve the problem of @victorsolis we need to know how is the configuration he is using, and fix the build of the lib.

[2016-07-26 21:56] joaolavoier commented on #26
@victorsolis can you show your code, and the configuration of brunch? How is you importing the library into you project?

[2016-07-26 22:10] mrsweaters commented on #26
@jmlavoier This makes sense. I will revert. The src folder seemed like the most sensible choice for the way I build my projects, with webpack. I'll switch it back.

[2016-07-27 20:20] mrsweaters commented on #26
@joaolavoier I'm also having an issue implementing Tribute in my Webpack project. I'm getting this error:

[code]

This occurred on line 6 of index.js:

[code]

Are there additional dependencies that I need to get this to work? I'm already using the `import` syntax in my project.

[2016-07-27 20:37] mrsweaters commented on #26
Oh, nevermind. I was unintentionally excluding it in my `webpack.config.js`. Updated the babel Webpack configuration to this:

[code]

All is good now!

[2016-07-27 20:48] joaolavoier commented on #26
Nice @mrsweaters! you need to exclude node_modules on webpack.
I thought that you was importing with something as `import Tribute from "tributejs/src/index";

But you already found the problem, that's right!

Wouldn't better write in doc this observation?

[2016-07-28 16:16] mrsweaters commented on #26
@joaolavoier I'll add this to the documentation.

[2016-07-28 18:59] mrsweaters commented on #26
@joaolavoier If I use the above config for Webpack, it then requires you to add `add-module-exports` to your project because the Tribute `.bablerc` requires it. Can this be removed from `.babelrc`?

[2016-07-28 19:06] joaolavoier commented on #26
@mrsweaters Are you changing Browserify for Webpack? If yes, you can remove it, because this plugin `add-modules-exports` is to fix an error in Browserify import.

[2016-08-01 14:14] #13 closed

[2016-08-01 14:22] ismailhakkieren opened #29 "Help"
i wrote special ediitor and i use your library for mentions.
my div id is  mainEditor.

tribute.attach($('#mainEditor'));

it works perfect but i have a special situation. this div (mainEditor) has a h3 (h3 id is hContent )and i dont want to mentions only this element. Please help me.

[2016-08-01 16:19] mrsweaters commented on #29
Can you try `<h3 contenteditable="false">Text</h3>`? I think that should do the trick.

[2016-08-02 06:34] ismailhakkieren commented on #29
i tried but i cant write anything. i need contenteditable="true". ithink i should change tribute.js when i see #hContent id i'll return nothing.

[2016-08-02 06:39] ismailhakkieren commented on #29
` $("#mainEditor").keyup(function () {
            var focusNode = window.getSelection().focusNode;
            var idFocus = "";
            var parentNode = focusNode.parentNode;
            idFocus = parentNode.id;
            if (idFocus == "hContent") {
               console.log("not here")
            } else {
                tribute.attach($('#mainEditor'));
            }
        });`
i wr

[2016-08-02 20:55] mrsweaters commented on #29
This doesn't help me get a picture of what you are trying to do. It would be best if you could create a plunkr or jsfiddle that has both the markup and the JS you are using.

However, it does seem that `#mainEditor` is the parent of the `h3`. This seems wrong to me as you don't want your user to be able to mention in that content.

I would do this:

[code]

For the js:
[code]

Then you would make

[2016-08-04 03:44] mrsweaters commented on #9
I'm going to close this ticket down. Feel free to create a pull request representing your idea!

[2016-08-04 03:44] #9 closed

[2016-08-04 03:45] mrsweaters commented on #4
@jeffsacco I'm closing this issue down. Feel free to create a pull request if you figure out the workaround!

[2016-08-04 03:45] #4 closed

[2016-08-07 16:24] mrsweaters commented on #29
I'm going to close this issue since I feel like the above is the best route for you to take.

[2016-08-07 16:24] #29 closed

[2016-08-08 18:11] mrsweaters commented on #26
I've updated the documentation to clarify how to use Tribute with Webpack.

[2016-08-08 18:11] #26 closed

[2016-08-11 07:10] slnsrn opened #30 "how to trigger tribute after @ + any letter"
Hi, i am using tribute and it is all perfect! But now there is too much data and it is hard to start tribute after @/#.. Therefore i need to trigger mention or hashtag not just after @or #, but after an additional letter typing  like @a or #b?
Another issue is i want to use a dynamic mention list?
How can i do that?

[2016-08-17 23:21] mrsweaters commented on #30
@slnsrn This doesn't currently seem possible. As we are checkin on every keypress the value of the keypress. What is your use-case? Why can't you use one keypress?

[2016-08-31 14:07] wacochili opened #31 "JS Error: "Tribute was already bound to TEXTAREA""
I'm having issues triggering @mentions with an app using Rails 5, Ruby 2.3.1 inside a Backbone model in a Marionette view.

In my view, I have a form in a modal with a textarea: `<textarea name="message" rows="3" placeholder="Write your comment..." class="form-input"></textarea>`.

On keyup with '@' in console I am getting the above error: "Tribute was already bound to TEXTAREA".

The code in my M

[2016-08-31 16:55] mrsweaters commented on #31
The issue is that on key up you are rebinding to the same element on the page. The library adds a `data-tribute` attribute to the element to let you know that you are potentially double binding events.

What I would do is bring the instantiation of the Tribute instance, and attachment to the element, outside the scope of the event listener. You are also doing a request for mentionedUser data for e

[2016-08-31 16:56] mrsweaters commented on #30
I'm closing this now as it seems like you were able to find a workaround. Feel free to open it back up and provide more details if you are still having issues.

[2016-08-31 16:56] #30 closed

[2016-09-01 20:26] wacochili commented on #31
Thanks for the feedback. Based on your suggestions, this is fixed and there is no error with tribute. This is user error. The `allBrandUsers` is cached once as a variable and then referenced, so no issues there.

My data collection was structured incorrectly and all is well. Closing.

[2016-09-01 20:26] #31 closed

[2016-09-01 21:25] mrsweaters commented on #31
I'm glad you got it working! Let me know if you have any other issues.

[2016-09-22 16:00] wacochili opened #32 "li elements not scrolling in tribute-container on arrow up/down"
We have more `li` elements in our list than will fit in the viewport of the fixed-height `tribute-container`. Scrolling with a mouse or trackpad works as expected, but arrow up/down does not move the list in the container.
1. Create a list of users larger than will fit in fixed height `tribute-container`
2. Trigger dropdown and arrow down to the bottom of the list (the list will not move with the

[2016-09-22 16:54] mrsweaters commented on #32
So this is an issue with the overflow of the container and you not being able to see the active `li` if it is beyond the height of the container? You expect it to scroll down to keep the active element visible in the menu container?

This makes sense to me.

[2016-09-22 17:07] wacochili commented on #32
@mrsweaters Yes your understanding is correct.

[2016-09-22 17:13] mrsweaters commented on #32
Ok great. I'll start working on a patch for that. Thank you for reporting!

[2016-09-23 07:52] dgrubelic opened #33 "Autocomplete issue when insert template has markup"
As you will be able to see from the last image, i'm using div with `contenteditable="true"`.

First you need to setup `selectTemplate` to look something like this:

[code]

[code]

**How can we reproduce this bug?**
1. Start mentioning "Basketball HOF"
2. Mention someone
3. "Backspace" delete handle to look like this: @Hooph
4. You see autocomplete list again, hit enter to mention @Hoophall again

[2016-09-23 09:34] dgrubelic opened #34 "Autocomplete menu opened after complete"
**How can we reproduce this bug?**

1. Editor must be empty
2. Start mention with @
3. Hit enter to select first item or navigate using up/down keys and then hit enter

**What did you expect to happen?**
Autocomplete window closed

**What happened instead?**
Autocomplete window opened

**Link (jsfiddle/plunkr) or Screenshot:**
https://plnkr.co/edit/AV1ru1uYDbttp5mx62SF?p=preview

[2016-09-23 09:41] dgrubelic commented on #33
You can preview the problem here: https://plnkr.co/edit/AV1ru1uYDbttp5mx62SF?p=preview

Just open file `script.js`and:
1. Uncomment line 13.
2. Comment line 14.

[2016-09-23 16:46] mrsweaters commented on #33
Ah interesting, one quick workaround for this while I'll look into some potential solutions is to set `contenteditable="false"` on your element.

[code]

The side effect is that the entire node gets deleted, but there is no way to corrupt the markup. Let me know if this works for you.

[2016-09-23 16:46] mrsweaters commented on #34
This is a bug! Will look into it. Thank you for reporting!

[2016-09-25 17:53] dgrubelic commented on #33
This is not a solution for me since it introduces a bed UX pattern for users. Sorry... :)

[2016-09-26 14:58] wacochili opened #35 "Dropdown hover vs arrow highlighting"
When triggering the @mention dropdown, highlight is working as expected but the switching to and from mouse/trackpad navigation vs. arrow/keydown navigation the highlighted item doesn't switch properly.

1. Trigger dropdown
2. Arrow/keydown through the list
3. Scroll list with mouse/trackpad

We expect mouse navigation to behave the same as key navigation via arrows - the item hovered should clear

[2016-10-11 16:36] mrsweaters commented on #34
@dgrubelic What browser were you experiencing this bug in? I'm no longer able to reproduce it. Are you still seeing this issue?

[2016-10-11 16:47] mrsweaters commented on #35
@wacochili This has been fixed in master! Thanks again for reporting. I will be cutting a new release after I close down a couple more of the bugs. In the meantime you can use `master`.

[2016-10-11 16:47] #35 closed

[2016-10-12 08:17] dgrubelic commented on #34
It is happening in both Chrome and Firefox (latest versions). Safari works as expected. I just slightly edited my Plunkr so you should be able to verify bug.

[2016-10-15 11:38] raullucero commented on #34
What is the status of this bug?

[2016-10-16 17:48] mrsweaters commented on #34
Fixed and released in [2.0.6](https://github.com/zurb/tribute/releases/tag/2.0.6). Thank you everyone for reporting!

[2016-10-16 17:48] #34 closed

[2016-10-30 02:06] jendowns opened #37 "Add ability to detach/remove a Tribute instance"
Hey there!

First of all, **thank you so much** for creating this plugin. I love it!

I was wondering if you'd consider an enhancement that allows me to completely remove an attached Tribute instance (so that I can then create a new instance with new data).

In my use case, I have 2 Tribute instances attached to 2 textareas on a page (so one instance per textarea). When the user makes a selection

[2016-11-03 03:10] mrsweaters commented on #37
This seems reasonable to me! You've outlined a good use case.

[2016-11-03 03:11] mrsweaters commented on #32
I haven't forgotten about this issue. I've been pretty busy as of late. This is the next issue I want to tackle.

[2016-11-16 16:37] imontiel opened #40 "Allow mentions to contain spaces"
I would consider this more an enhancement than a bug, but it would be nice to allow users to type spaces when mentioning someone, especially if we use first names and last names for mentioning.

For example, in the [Katniss example](http://zurb.com/playground/tribute), you can't type out `@peeta m` and still be able to mention him.

I think keeping this functionality is important, so maybe a new o

[2016-11-17 17:55] #40 closed

[2016-12-01 17:44] thalesvinkler opened #44 "could not attach tribute in a frame/body with contenteditable true created by CKEditor"
**How can we reproduce this bug?**

1. Create textarea input
2. Set CKEditor in textarea -> its create a iframe with a body tag(contenteditable true)
3. try to attach: tribute.attach(document.getElementById('bodyid')

**What did you expect to happen?**
Attach tribute in body.

**What happened instead?**
Nothing

**Link (jsfiddle/plunkr) or Screenshot:**
![image](https://cloud.githubusercontent.com

[2016-12-01 17:49] mrsweaters commented on #44
Thank you for reporting! We currently are compatible with WYSIWYG editors. We'd love some help to get this working if you are interested.

[2016-12-26 23:04] raf66 opened #45 "Attach to SimpleMDE"
Is it possible to attach Tribute to the Simple Markdown Editor "SimpleMDE"?
https://github.com/NextStepWebs/simplemde-markdown-editor

[2016-12-28 01:56] mrsweaters commented on #45
Yes, this should be possible as the editor uses CodeMirror under the hood and doesn't rely on iframes. Tribute is not compatible with editors that rely on iframes.

[2016-12-28 01:56] #45 closed

[2016-12-28 01:56] mrsweaters commented on #45
Feel free to reopen if you can't get it to work.

[2016-12-28 03:58] #32 closed

[2017-01-11 08:14] Nikcrysis opened #47 "Add loop for list while navigate with keyboard"
When I navigate in list of suggestions by keybord arrow selection stops at first and last item. But I want it loop so the selection never stops at any point of the list.

[2017-01-12 20:54] mrsweaters commented on #47
This would be very nice! Putting it on the to-do list. :)

[2017-01-16 11:35] radotzki opened #48 "Leading space"
First of all I must say that I really like this project!

I have an issue with the leading space option.
The issue is that when requireLeadingSpace is set to true and a user types ```@bob@mail``` the `values` function is no longer being called after typing `@` (assuming that the trigger key is `@`).
i.e it will be called for `b`, `bo`, `bob`, but will not be called for `bob@`, `bob@m`, etc.

**How

[2017-01-20 00:43] TetianaP opened #50 "Behaves unexpectedly with contentEditable on Enter click after mentioning"
**How can we reproduce this bug?**

1. Create a simple application with `<div class="mentionable">Some text.</div>`
2. Initialize Tribute as `new Tribute({
	values: [
		{key: 'Phil Heartman', value: 'pheartman'},
		{key: 'Gordon Ramsey', value: 'gramsey'}
	]`
and attach to the contentEditable `tribute.attach(document.querySelectorAll('.mentionable'));`
3. Type `@` to see the possible options to me

[2017-01-20 01:31] mrsweaters commented on #50
This was caused by not wrapping the content for contentEditable elements in markup in the `defaultSelectTemplate`. Fixed in https://github.com/zurb/tribute/commit/37fa6e8daebb2ddcd2a87a902b61bd3ee14a8eb8

Thank you!

[2017-01-20 01:31] #50 closed

[2017-01-20 03:13] TetianaP commented on #50
Thank you!

[2017-01-20 17:26] #48 closed

[2017-01-23 13:56] antongorodezkiy opened #51 "Trigger suggestions popup (menu show) ?"
Hello friends,

Is there a way to trigger suggestions popup programmatically?

I've tried

[code]

but it doesn't work.

Currently I'm trying to show menu with dispatching `keydown` + `keyup` events, not sure if this will work.

[2017-01-23 23:19] TetianaP opened #52 "Declaration file required for Typescript"
To use tribute withing Typescript - it is required to have a Declaration File. (tributejs.d.ts)

Can you please provide one?

[2017-01-24 17:27] mrsweaters commented on #51
Yeah this will be a little tricky without introducing a new method. Essentially you need to set the `current` property to the collection that you want to show and then set `current.element` to the DOM node you are targeting.

If you can provide a little more detail of your use-case maybe I can get a clearer understanding of what a good solution would be.

[2017-01-24 17:34] mrsweaters commented on #52
I don't use Typescript, so any help or direction on this would be much appreciated. This would be a great addition. Thanks!

[2017-01-24 17:35] mrsweaters commented on #51
Also, when you are doing this? Is there any `mentionText` present? If not, would you just show the complete list?

[2017-01-24 17:41] antongorodezkiy commented on #51
@mrsweaters

With `keydown` + `keyup` I already can fill the list with correct values (I believe), but cannot show it, styles simply don't apply.

My use-case is following:

I have contenteditable `div.editor`. User types `@` char and receives list of users. This works as expected.
And now (for users who not familiar with github-like mentions) I want to add additional button on the `div.toolbar`,

[2017-01-25 21:41] antongorodezkiy commented on #51
I could show the menu by adding timeout to the `keydown + keyup` events. Before the menu closes right after show because of the original `click` event on the button.

So, to trigger menu I used the following code, where $('.editor', this.$el) is a contenteditable div:

[code]

This worked fine. But only for cases, when cursor is placed on the left side of the "input" div. For other cases when I tr

[2017-01-25 22:50] antongorodezkiy commented on #51
Unfortunately couldn't make it work.

[2017-01-26 00:54] mrsweaters commented on #51
I've started working on a workaround for you:
https://github.com/zurb/tribute/commit/4a7285595fa56266d0e1e150f0b7e5b211043b23

This gets you to the point of showing the menu, but it still needs work to get to resolving the user's selection.

[2017-01-26 00:55] mrsweaters commented on #51
This allows you to call `tribute.showMenuForCollection(element);` to show the menu.

[2017-01-26 01:42] antongorodezkiy commented on #51
@mrsweaters cool, thanks!

[2017-01-26 21:00] TetianaP opened #53 "Search is not fired after Backspace, when previous result is empty"
**How can we reproduce this bug?**

1. Step one
Create a simple `<div class="mentionable">Some text.</div>`
and initialize a tribute `var tribute = new Tribute({ values: [ {key: 'Phil Heartman', value: 'pheartman'}, {key: 'Gordon Ramsey', value: 'gramsey'} ]});`
Apply tribute to the element `tribute.attach(document.querySelectorAll('.mentionable'));`

2. Step two
Start typing `@P` - 'Phil Heartman

[2017-01-27 00:01] mrsweaters commented on #53
@TetianaP Did you test this against master? I think this may have been fixed as I'm not able to reproduce it there. Can you try master as well? If its working I'll go ahead and cut a new release.

[2017-01-27 00:04] TetianaP commented on #53
Reproduced on the latest version available through npm install - v2.3.1.
Is it different from master?

[2017-01-27 00:10] mrsweaters commented on #53
Yeah, master is more up to date than the latest release.

[2017-01-27 16:43] mrsweaters commented on #53
@TetianaP I've pushed up `2.3.2`. Let me know if that fixes your issue!

[2017-01-30 20:51] TetianaP commented on #53
Checked on new version 2.3.2. The issue can still be reproduced.

[2017-03-01 21:55] hew opened #56 "'Utils' Script Missing from /dist"
**How can we reproduce this bug?**

1. `npm i --save tributejs`
2. `require('tributejs')`

**What did you expect to happen?**

Would import tributejs

**What happened instead?**

`dist/tribute.js` is requiring `./utils` on the 10th line, and that is not in the dist folder.

**Link (jsfiddle/plunkr) or Screenshot:**

![image](https://cloud.githubusercontent.com/assets/3103241/23483065/379aed5a-fe86

[2017-03-01 22:06] mrsweaters commented on #56
Try `require('tributejs/src')`. Does that work?

[2017-03-01 22:18] hew commented on #56
@mrsweaters That should work, but I'm not actually requiring manually. I'm trying to use https://github.com/BolsteDev/react-tribute, which makes use of tributejs as a dependency.

[2017-03-01 22:48] mrsweaters commented on #56
Hmm, I'm not sure what the issue is there. It looks like [vue-tribute](https://github.com/syropian/vue-tribute/blob/master/src/index.js#L1) is successfully importing from root, I'm not sure with the React library isn't doing the same. For the Angular port, I just point it too the `src` directory. Maybe ask the react-tribute creators to do the same?

Let me know if there is anything I need to chang

[2017-03-01 22:49] mrsweaters commented on #56
What build environment are you using? Webpack?

[2017-03-01 23:11] hew commented on #56
I'm pretty sure the issue is that `utils.js` is missing from the dist folder. It should be there, no?

https://github.com/zurb/tribute/blob/master/dist/tribute.js#L10

To be clear: whatever file is listed [here](https://github.com/zurb/tribute/blob/master/package.json#L5), is what will be used by default by other libraries.

[2017-04-05 06:48] BorntraegerMarc opened #58 "Idea: Publish web component to use everywhere"
Would be cool to have a web component published at http://webcomponents.org/  to use this component.

[2017-04-05 09:05] BorntraegerMarc commented on #52
any update on this? :)

[2017-04-06 21:20] mrsweaters commented on #52
@BorntraegerMarc Thanks for checking in! I'm not quite sure how to write a typing but it doesn't seem too complicated. I can take a stab at it.

[2017-04-07 05:49] BorntraegerMarc commented on #52
Thanks. Let me know if you need help

[2017-04-09 03:11] TetianaP commented on #52
Since TypeScript 1.8, it's allowed to include .js files with `--allowJs` flag.
See [https://blogs.msdn.microsoft.com/typescript/2016/01/28/announcing-typescript-1-8-beta/](https://blogs.msdn.microsoft.com/typescript/2016/01/28/announcing-typescript-1-8-beta/)

Set `"compilerOptions": { "allowJs": true }`,
depending on your project structure include tribute library: `"include": ["node_modules/tribu

[2017-04-09 06:43] BorntraegerMarc commented on #52
Yes @TetianaP but it would be cool to have some definitely typed support for codin :)

[2017-04-13 18:38] mrsweaters commented on #52
@TetianaP @BorntraegerMarc I've added a PR that adds a typings file to the project. Let me know if I need to make any changes!

[2017-04-14 09:48] BorntraegerMarc commented on #52
@mrsweaters left my comments in the PR. Thx!

[2017-04-14 16:50] mrsweaters commented on #58
@BorntraegerMarc This would be awesome! Would you be willing to help with that?

[2017-04-14 16:57] BorntraegerMarc commented on #58
Hmm, time is very critical for me at the moment. For what do you need most help?

[2017-04-14 16:59] mrsweaters commented on #58
No worries. Maybe just some understanding of what you are looking for? How you would imagine it working.

[2017-04-14 17:00] mrsweaters commented on #52
Merged! https://github.com/zurb/tribute/pull/59

[2017-04-14 17:00] #52 closed

[2017-04-14 17:00] mrsweaters commented on #47
Merged! https://github.com/zurb/tribute/pull/60

[2017-04-14 17:00] #47 closed

[2017-04-15 12:37] BorntraegerMarc opened #61 "Define HTML file for templates"
It would be cool if one could define a string to the location to the HTML templates like `selectTemplate`.

That way the template would be more maintainable.

[2017-04-15 12:38] BorntraegerMarc commented on #52
Sorry to come back at you this late but wouldn't it make more sense to publish the typings here https://github.com/DefinitelyTyped/DefinitelyTyped ?

I think this is standard practice...

[2017-04-15 12:45] BorntraegerMarc commented on #58
So basically I would imagine a standard web component (maybe build with [polymer](https://www.polymer-project.org/)

This web component would then use the standard methods from this library (because it uses just native JS it would be relatively easy to combine it) and would just expose the standard web component API.

Benefits:

- Standardized API from web components that all major frameworks alre

[2017-04-17 00:05] mrsweaters commented on #52
@BorntraegerMarc Ah, good call. I'll be sure to add this to the DefinitelyTyped repo.

[2017-04-20 17:01] nathanchase opened #62 "Need access to original item key/value pairs after text is replaced"
I see that I can access the 'tribute-replaced' event to get to the HTML inside `event.detail`, but what I really need access to are the original key/value pairs in my values collection.

For example, if I have:
[code]
when my text is replaced, I need access to those original variables: **name**, **id**, and **entity** after my text has been replaced, because I'm going to need to store those variab

[2017-04-25 04:07] nathanchase commented on #62
My hacky way to accomplish this in the meantime was to add `data-id="" data-name="" data-entity=""` to my select template HTML and then read them back as `item.dataset.id`, `item.dataset.name`, `item.dataset.entity`. It works, but seems convoluted.

[2017-04-26 15:37] nathanchase commented on #51
@mrsweaters Yeah, I could really use this too. What I ended up with in my code was something like this:

[code]
but like you mentioned above, selecting an item doesn't work UNTIL after you've typed a second character - then everything is populated in `current` properly and the menu and items function as you'd expect.

My use case is to have mentions that work exactly like they do on Facebook:

1)

[2017-04-28 21:16] mrsweaters commented on #62
This is a great idea. I think that we need to pass the data back so that it works for any data structure. I'm willing to review a PR for this!

[2017-05-03 20:32] mrsweaters commented on #56
Fixed! Sorry for the long wait! https://github.com/zurb/tribute/commit/534d5e9551743f32ff8f57048dbbef43368ea97d

[2017-05-03 20:32] #56 closed

[2017-05-05 20:28] deje1011 commented on #51
I had the same problem and thanks to this discussion I finally found a solution that works almost as I want it to:

[code]

As long a there is whitespace around the caret it works fine.

It would be awesome if there was an API method for this though!
Thanks for your work on this project :)

[2017-05-05 22:11] mrsweaters commented on #51
I have been slowly working on this issue on the [trigger-menu](https://github.com/zurb/tribute/tree/trigger-menu) branch. You can take a look at what I've done there. It mostly works, there are still a couple of edge cases that I need to work through.

[2017-05-15 12:44] aldrakos opened #63 "Bug with contentedible, starting typing with @ and enter to select."
**How can we reproduce this bug?**
Using latest master version 2.3.6

1. Step one
Create a contentedible element:
```<div id="mention" contenteditable="true" placeholder="type here"></div>```
2. Step two
attach a tributejs with basic defaults (issue remains with custom selectTemplate):
[code]

3. Step three
Start typing @ for the mention list to appear, select any, press enter (keyboard not click)

[2017-05-15 16:51] mrsweaters commented on #63
@aldrakos Thank you for reporting, I'll take a look at this now!

[2017-05-15 16:52] mrsweaters commented on #63
So this looks like a bug with `allowSpaces`. If I turn that off I'm not seeing the issue. Is this what you are experiencing as well?

[2017-05-15 16:59] mrsweaters commented on #63
Oh never mind, it looks like `allowSpaces` is not related.

[2017-05-15 17:14] mrsweaters commented on #63
It was an issue with the default template. I have fixed it and will merge in https://github.com/zurb/tribute/pull/64

Again, thanks for reporting this!

[2017-05-15 17:14] #63 closed

[2017-05-15 17:26] mrsweaters commented on #61
Added to Version 3 roadmap slated for June!

[2017-06-20 02:30] TetianaP opened #65 "TributeEvents can not be prevented from propagation"
**How can we reproduce this bug?**

When `enter` event (to select item from dropdown) is fired, the events of element, which `tribute `is attached to, are still triggered.

**What did you expect to happen?**
Is it possible to have an option to stop propagation (event bubbling) of enter event?

**What happened instead?**
These is no way currently to get enter event, subscribe to it. The only emitte

[2017-06-21 17:32] mrsweaters commented on #65
@TetianaP I'll take a look at this. It sounds like a good solution to allow access to original event through the `tribute-replaced` event.

[2017-06-29 10:10] kmyllyvi commented on #37
Hi.
Related to this, I'm just missing how to reset the data (values) in the tribute. Is there any way to do this? All I can find is append data.
thanks.

[2017-06-29 15:50] mrsweaters commented on #37
@kmyllyvi `append` and `appendCurrent` both accept a replace boolean, if true, it will overwrite the data set already attached to the instance.
https://github.com/zurb/tribute/blob/master/src/Tribute.js#L292

[2017-07-06 18:15] northernlite69 opened #66 "How to trigger AJAX and append results"
I think I've missed the docs on how to do this and I've trawled these issues but I still can't work out how to trigger an AJAX load.

I understand the expected format and how to append correctly, but I can't find how to hook Tribute to my AJAX load.

Great component! Any pointers much appreciated.

[2017-07-06 18:59] #66 closed

[2017-07-06 20:22] northernlite69 opened #67 "Tribute in appendGrid?"
Has anyone conquered getting Tribute working as a custom control in an appendGrid row?

In appendGrid you define a customBuilder: function that creates the dynamic control in a very jQuery stylee.  The problem is, with Tribute, you need an existing text input that's hooked via

triLocation.attach(document.getElementById('txtFoo'));

or am I missing something?  Can you dynamically create individual

[2017-07-06 21:48] mrsweaters commented on #67
Looks like you could do it in a callback:
https://appendgrid.apphb.com/Documentation#link-afterRowInserted

[2017-07-06 22:41] mrsweaters commented on #66
@northernlite69 Did you get it working?

[2017-07-07 10:17] northernlite69 commented on #67
Thanks for your swift reply (and all your work on a great component)!

I don't think afterRowInserted would work in this case; I believe this is more for massaging data AFTER the rows controls have been initialised.

Initialisation (of custom controls) happens before data even reaches any form elements and herein lies the catch.  Look at the example for the customBuilder and you will see what I me

[2017-07-07 13:37] northernlite69 commented on #66
Yes!  Solution is triggered in no-match.  From here, grab cursor position back to trigger char, gives unfound search term, which can then be used to fetch new results from server.

I think I'm so used to everything being wrapped up for you!  Obviously a bad thing- I really like the openess of your component.  Thanks!

[2017-07-07 17:58] mrsweaters commented on #66
Sweet!

[2017-07-25 11:44] BorntraegerMarc commented on #61
@mrsweaters any update on the version 3? :)

[2017-07-25 11:45] BorntraegerMarc commented on #58
Maybe this would be something for version 3 @mrsweaters ? :)

[2017-07-27 16:42] mrsweaters commented on #61
@BorntraegerMarc Thanks for checking in! I've gotten a little behind due to some big projects at work. If you are interested in helping I could really use some support. I should have some time to jump back on some of the V3 issues mid next week.

[2017-07-27 16:43] mrsweaters commented on #58
This would be great for V3!

[2017-07-27 18:11] BorntraegerMarc commented on #58
Problem I'm seeing is that the whole library would need to be restructured to fit in web components world. Good thing though: then it could be truly used everywhere, in a very structured way!

Feel free to ask, if you need anything from my side and I'll see how much time I can allocate

[2017-08-04 19:16] omarstreak opened #69 "Memory Leak in TributeMenuEvents.js"
In the bind function of TributeMenuEvents there's a call to document.addEventListener('click' and window.addEventListener('resize' .  These event listeners are never cleaned up (that I can see), even if the underlying text element is removed.

[2017-08-04 20:27] mrsweaters commented on #69
Thanks for reporting! I'll take a look.

[2017-08-18 16:43] mrsweaters commented on #65
Fixed with:
https://github.com/zurb/tribute/commit/dc89154fac26568254514f17f731013aa71c42dc
https://github.com/zurb/tribute/commit/1b7e45b73cc726949aec286147dc653749a01f6f

[2017-08-18 16:43] #65 closed

[2017-08-18 19:49] mrsweaters commented on #51
Done!

[2017-08-18 19:49] #51 closed

[2017-08-18 19:54] mrsweaters commented on #53
Fixed in V3

[2017-08-18 20:59] mrsweaters commented on #62
Fixed: https://github.com/zurb/tribute/pull/71

[2017-08-18 20:59] #62 closed

[2017-08-18 21:00] mrsweaters commented on #69
@omarstreak Any suggestions on how to fix this?

[2017-08-18 21:08] mrsweaters commented on #37
@jendowns I started working on a solution for this. It's not working right. Maybe you could take a look at the PR?

[2017-08-18 22:43] mrsweaters commented on #44
@thalesvinkler This is a first pass, it still is a little rough:
https://github.com/zurb/tribute/pull/73

[2017-08-22 02:44] DavidBanksNZ opened #74 "Page jumps up when top of textarea is scrolled out of view"
**How can we reproduce this bug?**

1. Go to the example https://zurb.github.io/tribute/example/
2. In the contenteditable input, enter lots of new lines and scroll the page down so that the top of the contenteditable is scrolled out of view
3. Start typing a mention

**What did you expect to happen?**

The page does not jump.

**What happened instead?**

The page jumps up so that the top of the c

[2017-08-23 03:39] TetianaP commented on #53
@mrsweaters please reopen this issue.
It was tested on V3, and it is not fixed.

[2017-08-23 17:46] mrsweaters commented on #74
I pushed a fix that should scroll to the top of the menu at the current cart position in the input: https://github.com/zurb/tribute/commit/5e76def59d70874fdb373f89d94dfccc5e50a83c

This should fix your problem.

[2017-08-23 17:46] #74 closed

[2017-08-23 17:50] mrsweaters commented on #53
It appears that the default `noMatchTemplate` is not working correctly. If i define a custom noMatchTemplate, the problem goes away. Working on a solution.

[2017-08-23 17:59] mrsweaters commented on #53
This should fix it! https://github.com/zurb/tribute/commit/baf3df5af87598fe3f88f178fd1368bdfd84c312

I've pushed this to master and it will get released in 3.0.1.

[2017-08-24 02:30] TetianaP commented on #53
Thank you! Looks like it fixes the issue, unfortunately causing a few new ones:
1. there is no way to hide menu when no item matches
2. user can click on 'No Match!' item and logic for selecting item is triggered, causing errors

Could you please have a look on these? Or should i create a separate request?

[2017-08-24 16:04] mrsweaters commented on #53
I'll take a look at those couple of issues as well!

[2017-09-03 11:10] BorntraegerMarc opened #76 "Problems with shadow DOM"
The call `this.getDocument().activeElement` in for example https://github.com/zurb/tribute/blob/060cf5f0b71c32dee9071fb4b4178a39cdde2cf3/src/TributeRange.js#L221 is causing problems when an app implements [shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Shadow_DOM). Because the active element in shadow DOM is not the native input element but it's parent.

That is why all `t

[2017-09-03 20:48] mrsweaters commented on #76
I deployed your patch in 3.0.3. I'll see what's necessary to change all references to `this.getDocument().activeElement` changed to this.tribute.current.element.

[2017-09-04 10:17] s-naveen opened #78 "No way to stop AJAX call"
when using ajax request callback to populate values, The AJAX request is sent by adding a new character even after no match. There's no reason to send another request when the previous request with less characters itself returns nothing.

Also I would like to use the previously populated values instead of making new request again on pressing backspace.

[2017-09-04 16:03] BorntraegerMarc opened #79 "Menu can get placed outside viewport"
The menu is created with this call:
[code]

We use this lib to display a user menu if somebody writes '@' in the message create input. As you can see from this screenshot (the menu to the very right bottom corner):
![untitled](https://user-images.githubusercontent.com/7549295/30033352-1115f884-919b-11e7-9e12-48e36e1d7175.png)

The tribute menu gets loaded nearly off screen. In this screenshot:
![u

[2017-09-26 17:00] lihi-intsights opened #80 "Error in console when clicking on 'No Match' or clicking enter when there are no results"
When typing something that doesn't exist on the values list and clicking on the 'No Match' in the list, an error appears in the console saying: 'Cannot read property 'original' of undefined'.

Does it should be clickable at all? there is no reason that someone could click the 'No Match' label that is shown when the typing did not match anything.

Also, the 'No Match' disappears after some chars wh

[2017-09-26 17:08] mrsweaters commented on #80
I would agree that the expected behavior is that it should not be clickable.

[2017-09-27 08:15] lihi-intsights commented on #80
Is a fix going to be uploaded soon?
Thanks!

[2017-09-27 17:55] mrsweaters commented on #80
I'm not going to be able to get to it myself this week, but I'm willing to review and merge a pull request.

[2017-10-02 18:09] #79 closed

[2017-10-02 18:26] mrsweaters commented on #80
Fixed in https://github.com/zurb/tribute/releases/tag/3.1.0. Thank you!

[2017-10-02 18:26] #80 closed

[2017-10-02 18:26] mrsweaters commented on #53
@TetianaP Fixed in https://github.com/zurb/tribute/releases/tag/3.1.0, thank you!

[2017-10-02 18:26] #53 closed

[2017-10-02 18:38] BorntraegerMarc commented on #58
@mrsweaters is there a plan for V4? Maybe we could aim for a complete re-write & support for web components in V4 😄

[2017-10-03 16:12] ThomHurks opened #83 "Mention menu wrongly positioned in version 3.1.0"
In version 3.1.0 there's a change regarding positioning. In my case, this broke the positioning of the mentions window. I have a comment box on the right of the screen (I'm just using Bootstrap columns, nothing special) and the mentions box now appears on the left side of the screen. The tribute-container div is a child of the ```<body>``` and it has the style ```top: 413px; left: 449px; position:

[2017-10-03 17:03] mrsweaters commented on #83
@ThomHurks Thank you for reporting! Can you try to reproduce your issue in the Codepen below so I can debug it.
https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010#0

[2017-10-03 17:26] ThomHurks commented on #83
Here you go: https://codepen.io/anon/pen/aLLMvw?editors=1010
Change the version back to 3.0.3 and you can see that it works fine.

Besides this, I noticed that on my website, the mentions window has some empty space to the left of the list elements which isn't present in the examples. I'm just using tribute as-is, with default config and no changed CSS. Looks a bit weird and can't figure out what

[2017-10-03 18:03] mrsweaters commented on #83
I've pushed an update in 3.1.1 that should fix your issue. Test it out and let me know if you are still experiencing issues.

[2017-10-03 18:04] mrsweaters commented on #79
@BorntraegerMarc Your fix introduced a problem with floated elements, I've made some tweaks by factoring in the `offsetLeft` of the target element in version 3.1.1. Let me know if this causes you any problems.

[2017-10-03 18:11] BorntraegerMarc commented on #79
alright, thanks for the info @mrsweaters

[2017-10-03 19:05] ThomHurks commented on #83
The issue with the extra padding on the left of the list elements seems fixed. Nice! However, the mentions window is still wrongly positioned on the horizontal axis. I updated the codepen to 3.1.1 and you can see it going wrong when you type ```@<something>```

https://codepen.io/anon/pen/aLLMvw?editors=1010

[2017-10-03 19:47] mrsweaters commented on #83
@ThomHurks Well shoot. One thing I'm noticing is that if I view your codepen in Chrome the position is correct, but if I view it in Firefox the positioning is off but the textarea is also rendered in a different spot. What browser are you viewing in? Also what is the intended layout of the page?

[2017-10-03 19:59] ThomHurks commented on #83
![screen shot 2017-10-03 at 21 53 13-fullpage](https://user-images.githubusercontent.com/6796124/31146198-16d13426-a886-11e7-8532-b5e846f3cc7c.png)

I just tried a different browser, this is what it looks like in Firefox for me.

[2017-10-03 20:05] ThomHurks commented on #83
![codepen io_anon_pen_allmvw_editors 1010](https://user-images.githubusercontent.com/6796124/31146421-f4d8d01c-a886-11e7-9ecc-7d8e9ea62684.png)

This second screenshot is Chrome, so it's also wrong in Chrome for me.

[2017-10-03 22:06] mrsweaters commented on #83
@ThomHurks Okay thanks, that helps!

[2017-10-05 09:37] jamescryer opened #84 "Doesn't work in IE11"
**How can we reproduce this bug?**

1. On the demo page https://zurb.github.io/tribute/example/ with IE11
2. Type into the mentions box some random text
3. Type `@` and click an option in the dropdown

**What did you expect to happen?**

Mention should be added

**What happened instead?**

Mention is not added

[2017-10-08 11:01] lihi-intsights commented on #80
Thank you!

[2017-10-08 13:39] lihi-intsights commented on #79
I updated to the version with this fix, and now the menu opens in a wrong place, but still goes outside of the viewport in some cases:

![image](https://user-images.githubusercontent.com/29015224/31317276-a17cb5dc-ac46-11e7-96da-8a09a052502c.png)

The left position is not in the right place, and the menu is outside of the viewport (vertically - in the bottom).
Maybe the problem is mine, I would li

[2017-10-08 15:24] BorntraegerMarc commented on #79
That is possible @lihi-intsights
I didn't touch the vertical orientation, only horizontal one. So the element may be placed outside vertically.

[2017-10-09 15:42] lihi-intsights commented on #83
I'm experiencing the same issue...
I guess something with the left positioning went wrong because it was fine before.

[2017-10-09 17:47] mrsweaters commented on #83
@BorntraegerMarc I have rolled back the positioning changes you made until we can figure out a more universal approach. Thank you everyone for reporting and tracking this issue.

If you are still seeing positioning issue please open a separate issue! Thank you.

[2017-10-09 17:47] #83 closed

[2017-10-11 17:39] mrsweaters commented on #67
I'm closing this issue for now as it is specific to a framework. If you find a workaround I'd be willing to add it to the readme. Thanks!

[2017-10-11 17:39] #67 closed

[2017-10-11 17:41] mrsweaters commented on #44
I'm closing this issue as I'm not sure this is the direction we want to take the editor. If you build out a  solution that you would like to share I will link to it from the docs. I did start something in PR #73 that might be a good starting place for you!

[2017-10-11 17:41] #44 closed

[2017-10-18 07:36] lihi-intsights opened #85 "Mentions menu goes out of vertical view"
When opening the mentions menu in the bottom of the page, the menu goes out of the view and a scroll is added to the page.

I believe that the wanted behavior in case the menu is too long (when the "top" coordinates + the menu height is bigger than the page height), is that it should be opened upwards.

![image](https://user-images.githubusercontent.com/29015224/31705595-ad118a9e-b3ee-11e7-8cb0-cc

[2017-10-18 13:51] ericbae opened #86 "Cursor moves to the front of "@" when using with Quilljs"
**How can we reproduce this bug?**

I have reproduced a very simple example in here

https://jsfiddle.net/03m5kyL7/

**What did you expect to happen?**

Mouse cursor should remain after "@" sign.

**What happened instead?**

Mouse cursor should moves to the front of "@" sign

**Link (jsfiddle/plunkr/codepen) or Screenshot:**

https://jsfiddle.net/03m5kyL7/

[2017-10-19 04:00] ericbae commented on #86
I've made a progress. Previously, I was attaching the tribute object as follows:

`tribute.attach($("#component"));`

But, "#component" is actually not the contenteditable. When you create Quill object, it creates a contenteditable div _inside_ "#component". So, I've updated a [fiddle](https://jsfiddle.net/chphr0ab/1/) as follows:

`tribute.attach($("#component").find(".ql-editor"));`

So the prob

[2017-10-19 04:45] #86 closed

[2017-10-19 04:46] ericbae opened #87 "Quilljs + Tributejs - Pressing enter key doesn't select"
**How can we reproduce this bug?**

I have created a JSFiddle for this issue here.
https://jsfiddle.net/chphr0ab/2/

**What did you expect to happen?**
Instead of creating a newline, it should actually select an item from the tribute

**What happened instead?**
The issue is when you press "enter", it actually goes to the new line in the editor.

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
ht

[2017-10-24 09:51] jamescryer commented on #84
Unfortunately the bug is still reproducible on the demo page, the ticket is not resolved.

[2017-10-24 11:43] dineshvgp opened #89 "Limiting mentions"
I hope there is no way to limit mentions here.
Say for ex. If I want to have only two mentions in a textarea.

What could be the best way to do this?

[2017-10-24 11:44] dineshvgp opened #90 "How do we detach Tribute from the attached element?"

[2017-10-24 20:05] olimart opened #91 "Lookup not working if value is not a string"
**How can we reproduce this bug?**

[code]

**What did you expect to happen?**

No error raised and lookup working for non-string value

**What happened instead?**

TypeError: string.toLowerCase is not a function. (In 'string.toLowerCase()', 'string.toLowerCase' is undefined)

[2017-10-26 18:09] dawgavins commented on #56
Hi there.  I just recently installed ('npm install tributejs'), and get this issue.  Its not just './utils' that is missing, but also './TributeEvents', './TributeSearch', everything that is imported at the top of tribute.js in the dist folder.  I am not using Webpack for this project.  Is Webpack a requirement?  Sorry if I'm naive, but how do these missing modules get imported when they are not i

[2017-10-30 16:36] mrsweaters commented on #84
@jamescryer This is fixed. The demo was misconfigured.

[2017-10-30 23:57] mrsweaters commented on #90
There is already a discussion on this topic in https://github.com/zurb/tribute/issues/37. Let's continue the discussion there. There is also a [PR](https://github.com/zurb/tribute/pull/72) in progress to add this functionality, but it has not been thoroughly tested.

[2017-10-30 23:57] #90 closed

[2017-10-31 00:04] mrsweaters commented on #85
This is a great idea. I will put this on the todo list for the next major release.

[2017-10-31 00:05] mrsweaters commented on #87
Maybe Quilljs is capturing the enter event? I'll play around with it and let you know what I find.

[2017-10-31 00:06] mrsweaters commented on #89
This would required the detach feature that you brought up in another issue. I think this is a great idea. Could you help me test the open PR?

[2017-10-31 00:08] mrsweaters commented on #86
@ericbae I'm glad you figured it out!

[2017-11-07 17:31] fresnizky opened #92 "How to get list of @mentions"
Hi, I'm using the library on a Angular 2 on a textarea. Is there any way to get the @mentions selected?

[2017-11-07 18:08] mrsweaters commented on #92
Good question! I tend to do the parsing on the backend as I usually don't need the parsed text right away. I like to use `contenteditable` instead of regular inputs so I can wrap the mention in markup. I then attach an identifying piece of data as a data attribute; the user's name, email or id.

Here is my frontend config for our produce, [Helio](https://zurb.com/helio):
[code]

I then parse out t

[2017-11-08 12:49] fresnizky commented on #92
👍 I ended up parsing the text in a similar way but it could be a nice addition for a future release

[2017-11-12 23:20] oliveratgithub opened #93 "Retrieve and append results from AJAX call - based on first characters after @..."
Hi there,
I can't figure out how to properly execute my AJAX call based on the first character(s) after `@...` in Tribute, which I then query against the DB, in order to receive a list of results to append to the Tribute values list.

E.g.: when I type `@p` I already want to execute my AJAX function, which requests all results starting with `p*` from the database. When I type `@phi` it requests `p

[2017-11-13 18:57] mrsweaters commented on #93
The lookup config is used in fuzzy matching the results already in the Tribute collection. If you are wanting to filter your results returned from the backend based on the query string.

I've updated the documentation to outline an approach to fetching remote data, although there are definitely other ways you could approach this.
https://github.com/zurb/tribute#loading-remote-data

Let me know if

[2017-11-13 19:25] oliveratgithub commented on #93
Perfect, thanks a lot @mrsweaters !

[2017-11-13 19:39] mrsweaters commented on #93
No problem! I'm going to close the issue for now. Feel free to open it again if you have further issues.

[2017-11-13 19:39] #93 closed

[2017-11-15 08:13] sujeetbuddiga opened #94 "How do I implement AutoComplete without any specific trigger."
Hi, I'm trying to implement auto-complete without any specific trigger inside a text-box as we see in google search.

Please help me achieve this.

Thanks in advance :D

[2017-11-15 17:29] mrsweaters commented on #94
You mean it auto fills in the current most accepted match? I'm not sure what a good approach for this would be, but I'd be willing to accept a PR adding the feature.

[2017-11-15 17:31] mrsweaters commented on #92
If we added front-end support for this I don't think we could support spaces in the matches anymore, as there would be no way to distinguish it from existing content, especially for regular inputs.

[2017-11-17 06:59] sujeetbuddiga commented on #87
@mrsweaters can you please look into this, we are waiting on the implementation with this combination.

Thanks in advance :D

[2017-11-18 10:01] oliveratgithub commented on #94
Not sure, but I think you @sujeetbuddiga might be looking for something more like krisk/fuse to achieve this?

[2017-11-19 02:06] mrsweaters commented on #94
We do have an implementation of fuzzy search built into tribute, but it doesn't auto fill.

[2017-11-20 18:29] achambers commented on #33
@mrsweaters What’s the status of this bug? I’ve come across it also. You can end up with an fully nested element if you keep editing the mention which is totally undesirable.

Is there any love being given to this issue?

Where might one start to look in order to patch this? Il happy to do so myself if you could give me a steer

[2017-11-20 19:06] mrsweaters commented on #33
@achambers This is still an issue unfortunately. This will involve making delete more aware of the selection context on backspace/delete and tribute aware of whether or not your selection is part of a matched node.
https://github.com/zurb/tribute/blob/master/src/TributeEvents.js#L220

 - We need to know if we are in an already matched node so that we don't accidentally nest matches.
 - When you ba

[2017-11-20 19:27] oliveratgithub opened #96 ""sourceRoot" in .map-file logs as Error in browser console"
There's the following `"sourceRoot":` in the compiled `/dist/tribute.min.js.map` which logs as an error in my web browser console:

[code]

https://github.com/zurb/tribute/blob/36fd7713a7448026ea6bdec645a8cc040ad99b77/dist/tribute.min.js.map#L1

[2017-11-20 19:28] achambers commented on #33
@mrsweaters Yep, that pretty much sums up my take on it. So, my question to you now is in what capacity are you using this lib? This seems like a pretty fundamental bug where you can’t edit a mention without considerable unwanted DOM.

I’m only asking as I’m building mention capabilities in to my app and have started out with at.js which doesn’t fill me with confidence. I came across Tribute and s

[2017-11-20 19:47] oliveratgithub commented on #78
FYI I have no problem with Tribute.js & AJAX calls - as proposed in the closed issue #93

[2017-11-20 19:47] mrsweaters commented on #33
@achambers The landscape was pretty bleak when I was looking for a solution. We are using this in production but under a very restricted use case; we match IDs similar to Github issue references. We have no plans of abandoning this project.

I have been looking for someone to help maintain the library as the needs of the project currently outweigh my available time. If you are interested in contri

[2017-11-20 20:05] oliveratgithub commented on #87
So regarding the 2nd issue with Quill+Tribute - the `Tab`-key - there's a way to disable it in Quill. But then again, it also stops working for Tribute as well...

[code]

However, Quill's keyboard module might be a starting point to get them to play along nicely? Probably trigger a Tribute function with a specific binding in Quill on `Enter` & `Tab` key?
http://quilljs.com/docs/modules/keyboard/

[2017-11-20 20:21] achambers commented on #33
The landscape is indeed bleak by the looks of it ;)

My time is also in short supply but I’ll take a look this week and if I can
easily contribute a few things that are mutually beneficial then I will
indeed.

Going to dedicate tomorrow to diving in a bit deeper so you’ll hear from me
soon no doubt.
On Mon, 20 Nov 2017 at 19:47, Jordan Humphreys <notifications@github.com>
wrote:

[2017-11-20 21:35] mrsweaters commented on #87
@oliveratgithub They must stop event bubbling on `Tab` when it is disabled. I think your right about  using the keyboard module. Let me know if I need to expose some tribute-specific methods for `Enter` and `Tab`.

[2017-11-24 08:23] oliveratgithub opened #97 "Is it possible to execute a function when a @mention is removed?"
Is there a way to call a function when a @mention string is being removed from the text input by the user?

Reason: I‘m building an array with IDs of users to notify as soon as they are @mentioned - however, when you remove someone afterwards, I‘d need to update the array and removing the affected ID again.

Thanks for any hints

[2017-12-13 11:08] DillonHeins opened #98 "Update Ruby Gem to Latest Version"
Would it be possible to update the ruby gem to the latest version? Currently it is only on version 2.2.0.0.

Thanks.

[2017-12-13 17:27] mrsweaters commented on #98
Thank you! Done.

[2017-12-13 17:27] #98 closed

[2017-12-13 17:29] mrsweaters commented on #97
There currently isn't a way to do this. I would like to add several more events to the library and this is a good candidate. I'll put this on the roadmap.

[2017-12-13 17:30] mrsweaters commented on #33
@achambers Just checking in. Were you able to take a look at improving the backspace functionality? Let me know if you hit any roadblocks or where I could help!

[2017-12-15 08:23] achambers commented on #33
Mate, I never had the chance to further explore Tribute due to time constraints unfortunately.

[2017-12-15 15:34] AmrN opened #99 "Can't delete after manually using "showMenuForCollection""
**How can we reproduce this bug?**

1. Open [example page](https://zurb.github.io/tribute/example/)
2. Click on "@mention" to open menu.
3. Choose any item.
4. Press backspace multiple times.

**What did you expect to happen?**
inserted item should be deleted.

**What happened instead?**
Nothing, cursor is stuck.

Tested master with Chrome and Firefox.

[2017-12-17 22:30] oliveratgithub commented on #97
Cool, looking forward to it! 👍

So long I'm taking server-side care of possible duplicates due to the same @mentions...

[2017-12-19 22:03] jastend opened #100 "requireLeadingSpace not considering line breaks"
Important change to the default setup: I'm using [@]...[/@] for the mention in my setup to easily process it with my BBCode parser.

**How can we reproduce this bug?**

Test text (written in a div bound CKEditor 4.18):

[code]

**What did you expect to happen?**

I would expect on the 5th line for tribute to consider the line break as a space.

**What happened instead?**

The line break is not con

[2017-12-21 22:24] philippkuehn commented on #37
Any news on this?

[2017-12-21 23:07] mrsweaters commented on #37
I have the PR, but I would like someones review on it before I merge it in. I'm not sure if it covers all the bases.

[2017-12-27 20:04] CalvinNunes opened #101 "Is it normal to just be able to select a tag with Enter, not mouse click?"
**How can we reproduce this bug?**
It's not a bug (I think), please tag this with help wanted.

**What did you expect to happen?**
When the window with values to select appear, i can hover the mouse over the values, but if I click, nothing happen. It only select a value and then call the selectTemplate function if I hit enter on the keyboard. Is it the normal behavior? I cannot select a value/opti

[2018-01-19 20:36] homerlex opened #102 "Odd behavior when "reselecting" a mention option"
**How can we reproduce this bug?**

1. Hit https://zurb.github.io/tribute/example/
2. Type @ and select Jordan Humphreys
3. Backspace until the cursor is on Jordan and you see the options popup.
4. Select Jordan Humphreys again

**What did you expect to happen?**
I expected the input value to be "@Jordan Humphreys"

**What happened instead?**
The value changed to something "@Jordan Humphreys n Hum

[2018-01-19 22:15] mrsweaters commented on #102
Thank you for reporting! I'm able to reproduce this issue.

[2018-01-22 16:17] homerlex opened #103 "Quilljs + Tributejs - Mention Issue Inserting between Text"
Using the same fiddle used in #87 (https://jsfiddle.net/chphr0ab/3/) I see some odd behaviors when trying to insert mentions in to existing text.

To Repro:
* Type "@p" and select "Phil Hartman"
* Continue to type "test1 test2"
* Try to insert a mention in between test2 and test2 by adding an extra space before test2 and typing "@"
At this point you see the cursor pushed to the end of test2 and wh

[2018-01-25 15:23] NicoP-S opened #104 "Disable fuzzy search for one collection"
Hello,

is there any possibility to disable the fuzzy search in one collection? I need to search one collection with "strict" comparance without any other chars beetween the search characters.

Kind Regards :)

[2018-01-29 23:15] mrsweaters commented on #92
@TurekBot I'm sorry it took so long to get working for you! I would love some help updating the documentation for users. If you are running into issues with this I'm sure there are other, less vocal, folks who are experiencing the same. Would you mind doing a PR for this?

[2018-01-30 03:20] TurekBot opened #105 "`allowSpaces` not working for multi-collection tribute"
**How can we reproduce this bug?**

1. Change the `allowSpaces` option in a multi-collection Tribute to `true`

`allowSpaces: true,`

**What did you expect to happen?**
That it would allow for spaces, regardless of how many collections the Tribute has.

**What happened instead?**
Spaces were only allowed for on the Tribute that has a single collection.

**SSCCE**
https://codepen.io/TurekBot/pen/MQ

[2018-02-02 11:10] oliveratgithub commented on #103
Thanks for posting this - I am seeing the same issue with our Quilljs + Tribute solution.

[2018-02-15 05:36] evansims commented on #87
[Here's a JSFiddle](https://jsfiddle.net/evansims/785zfz6c/) demoing how you might use Quill's keyboard module to override the default enter key behavior when Tribute is active.

The relevant code in the Quill initializer:

[code]

[2018-02-16 20:11] homerlex opened #106 "How to prevent "No Match!" from popping up?"
The doc states:

[code]
I tried setting noMatchTemplate: null but the message still comes up.

I tried something like

[code]
but then it just pops up with an empty container.  My tribute-container ul has a border/shadow so I see the empty div.

[2018-03-06 17:41] einarhuseby commented on #105
Ran into the same issue and looking at the constructor I do think it might make more sense to do something like:
`Tribute(collection: Array<CollectionObject>, arg1?:.., arg2:?...)`
then even a single collection will be passed as an array. Or maybe `collection: Array<CollectionObject> | CollectionObject` then just check type and act accordingly)

At the moment you can do:
`Tribute({collection: [col

[2018-03-20 13:37] ericbae commented on #87
@evansims Thank you for your solution. Works very well for me.

[2018-03-21 14:54] JohnnyFun commented on #106
workaround:

.no-match {
	display:none;
}

[2018-03-21 15:18] JohnnyFun commented on #33
Ah jeez, I ran into it too. For now, I'll probably just use a textarea for the element instead of a div since, in my situation, I don't _need_ to show the formatted output until submitted (using this in a simple commenting component).

For others with this issue, a potential workaround (albeit maybe not-so-desirable-ux) would be to have a preview button where the user can see what their final/pars

[2018-03-22 19:39] gandhirahul commented on #106
Why don't you try something like this?

`noMatchTemplate: function () {
     return null;
}`

It worked for me.

[2018-03-22 19:44] homerlex commented on #106
@gandhirahul Because, like I said an empty container pops (with the border/dropshadow)

[2018-03-22 23:57] gandhirahul commented on #106
I tried with another function with _display: none_ element and it still worked fine for me.

`noMatchTemplate: () => { return '<div style="display:none"></div>';},`

Is there any chance that you have global styling on <ul> or <li> element in your code as this is how it appears in the DOM. It uses

P.S. I returned a <div> element from noMatchTemplate.
In general case, it's always an <li> element.

[2018-03-23 11:53] homerlex commented on #106
The problem is that my styling is on the <ul> element so that is what needs to be hidden

[2018-04-04 13:34] JohnnyFun opened #107 "Any detach, teardown, destroy I should call?"
Hi!

Firstly, thanks much for building this. It's working well. Just one question: in a SPA, should I do anything to "detach" or destroy my tribute instance?

Thanks!

-John

[2018-04-09 06:51] keligijus opened #108 "Menu outside of viewport (vertical)"
**How can we reproduce this bug?**

1. Can be observed at https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010
2. Menu is cut off when at the bottom of the page
3. Here's a screenshot
![screen shot 2018-04-09 at 09 47 25](https://user-images.githubusercontent.com/6559757/38483292-16e22b6c-3bdb-11e8-93cd-c55515d52f09.png)

**What did you expect to happen?**

I may pop up above top instead of under

[2018-04-11 12:40] DillonHeins opened #109 "Selection offset is miscalculated in context of Quill editor"
**How can we reproduce this bug?**

1. Visit https://jsfiddle.net/dilicious/7gb5xbw7/
2. In the editor add a space and type  "@p" (note: this issue only occurs when adding a second instance of a mention)

**What did you expect to happen?**

For the offset for the menu to be in accordance to the positioning of the second instance of the '@' symbol

**What happened instead?**
![image](https://user-i

[2018-04-27 13:42] ejlocop commented on #97
@mrsweaters badly needed that one. looking forward. 👍👍

[2018-05-13 16:59] jastend opened #110 "npm audit vulnerabilities"
npm audit is reporting some vulnerabilities. An update of the required minimatch seems to be required.

**How can we reproduce this bug?**

1. Update to latest npm
2. run

**Result**

[code]

[2018-05-30 16:18] mrsweaters commented on #110
I'm not seeing anymore vulnerabilities reported. Thanks for pointing this out!

[2018-05-30 16:18] #110 closed

[2018-06-02 16:20] sbqsbqsbq opened #126 "CSS doesn't be applied at Vue js"
**How can we reproduce this bug?**

1. I installed this library from NPM to use mentioning function
2. and imported this app in the Vue.js, and applied it.
3. It works fine, but its css isn't applied to my webpage.

**What did you expect to happen?**

 I want to show list that is applied CSS.

**What happened instead?**

 My web dosen't apply CSS of tribute.js

**Link (jsfiddle/plunkr/codepen) or

[2018-06-29 17:14] MadSpindel commented on #103
You can use [Quill Mention](https://github.com/afconsult/quill-mention) if you want @mentions support for Quilljs.

[2018-08-01 18:40] #108 closed

[2018-08-03 22:56] #107 closed

[2018-08-03 22:57] mrsweaters commented on #37
Detach is now available in `3.3.2`

[2018-08-03 22:57] #37 closed

[2018-08-03 22:57] mrsweaters commented on #69
Detach is now available in `3.3.2`

[2018-08-03 22:57] #69 closed

[2018-08-06 18:04] #106 closed

[2018-08-06 18:05] mrsweaters commented on #85
Menu flipping was introduced in `3.3.0`.

[2018-08-06 18:05] #85 closed

[2018-08-06 22:25] DexterShepherd opened #132 "Demo site is not working"
**How can we reproduce this bug?**

1. Step one
Go to the demo site ( https://zurb.github.io/tribute/example/ )
2. Step two
interact with the contentEditable areas and form elements

**What did you expect to happen?**
I see a working demo of the functionality
**What happened instead?**
Demo does not work

Chrome 68 on MacOS 10.13.6

<img width="1180" alt="screen shot 2018-08-06 at 3 22 31 pm" src=

[2018-08-07 00:04] DexterShepherd commented on #109
Having the same issue with Redactor. Does anyone have a solution for this?

[2018-08-07 00:08] mrsweaters commented on #132
Thanks for reporting, must be an issue with updating Babel.

[2018-08-11 04:41] alfredalfie123 opened #135 "Delay for search on typing when send AJAX call to the server"
I thought currently there are no debounce/throttle support when use this library

**What did you expect to happen?**
Tribute should support debounce input event

**What happened instead?**
Whenever user type anything in tribute component, it keep send AJAX request to the server.

[2018-08-22 10:48] dmfaux commented on #132
@mrsweaters Perhaps it is the merge conflict in `tribute.min.js`? This was failing some of my tests when I did an update today.

[2018-08-22 21:16] mdhari opened #139 "tribute.min.js has merge conflicts in it in dist folder"
**How can we reproduce this bug?**

1. Download the 3.3.3 release or be on the master branch.
2. Navigate to dist/
3. Open tribute.min.js

**What did you expect to happen?**
A minified version of the library
**What happened instead?**
Seeing a merge conflict in the code file itself:
[code]
https://github.com/zurb/tribute/blob/master/dist/tribute.min.js

[2018-08-22 21:55] mrsweaters commented on #139
Fixed! Thank you for reporting!

[2018-08-22 21:55] #139 closed

[2018-08-22 21:55] mrsweaters commented on #132
Should be working again! Thank you guys.

[2018-08-22 21:55] #132 closed

[2018-08-23 18:30] Sebjugate opened #140 "Detach removes menu even if attached elements remain."
**How can we reproduce this bug?**

1. https://jsfiddle.net/xpvt214o/669183/
2. Enter `@` in Div1 to bring up Tribute menu. Verify functionality
3. Enter `@` in Div2 to bring up Tribute menu. Verify functionality
4. Click "Detach from Div1"
5. Verify Tribute is detached from Div1
6. Tribute no longer pops up menu in Div2, however if you use the arrow keys or enter, you can cause completion.

**Wha

[2018-08-23 18:37] Sebjugate commented on #140
Here is one possible solution to this problem. I don't know if it is the "right" way to do it:
https://github.com/Sebjugate/tribute/commit/786620a848a86b0cbff3fa9f41b8e6bf4c03097b

[2018-08-23 22:16] mrsweaters commented on #140
This seems like a good approach as I would like to avoid creating a separate menu element for each instance of Tribute.

[2018-08-24 16:46] shvvffle commented on #140
Hi, I'm also facing this issue.

[2018-08-24 23:08] Sebjugate commented on #140
It turns out the events also need to be re-bound to the menu element, I added that in my possible solution.

While my suggested solution works, it doesn't feel like the best solution. I have another idea which may be cleaner, which I will submit for your review shortly.

[2018-08-28 13:54] mdevine82 opened #141 "allowSpaces: false leaves menu open when mention started but you hit space"
**How can we reproduce this bug?**

1.  Use the demo site [https://zurb.github.io/tribute/example/](url)
2.  Enter "@jor" follow by a space and the menu still displays "Jordan Humphreys"
3.  Keep type random text and hit enter and it will overwrite all of it.
4.  Only if you type an "@" will it redraw the mention off the new trigger

**What did you expect to happen?**
As soon as I hit space with "

[2018-09-03 13:20] PieterVerledens opened #143 "Typings file doesn't compile"
**How can we reproduce this bug?**
Try to reference the typings file and compile your code. The generic constructor throws an error.
An older version of the file works fine, but doesn't support all the features.

The changes I did on https://github.com/PieterVerledens/tribute allow me to use tribute and compile my project.

Is anyone using the typings file as is without any issues?

[2018-09-06 10:04] mrshiva009 opened #144 "initializing this with the emojionearea initialized input element not working fine"
Im trying to add tributejs plugin to a emojionearea initialized input element its not working fine.
then i tried to add tribute to the div in which the input contains like
<div id ="tribute">
<input id="emojionearea">
when i did like this it worked fine its causing troubles for the emojionearea functionality like jumping the cursor to the left or starting point of the text and even emojionearea is

[2018-09-07 10:46] Truemedia commented on #97
I have a workaround which could be tweaked later as a core solution (as reference I'm using vue-tribute).

Basically I use an array to store all current mentions that gets populated from the tribute-replaced event (only storing value). Whenever the text input changes I run a check and loop through all the mentions to see if they are still in the input.

If they are not then I remove them from the

[2018-09-10 14:46] Gunirus commented on #143
@benmerckx do you have any examples on how you're using this exactly?

[2018-09-10 15:07] benmerckx commented on #143
It works fine for me on typescript 2.9.1. Maybe I have something misconfigured but it doesn't seem that way (changing the constructor type gives me correct error messages). In any case if you can reproduce this, I think a simple PR changing the constructor to `constructor(options: TributeOptions<any>)` should do in this case? I see no way around this as it accepts an array of options too which can

[2018-09-11 04:14] Gunirus commented on #143
[code]

Changing the constructor to constructor(options: TributeOptions<any>) seems to compile, I'll test if everything works.

[2018-09-11 08:59] benmerckx commented on #143
TypeError: tributejs_1.default is not a constructor

Have a look at `--esModuleInterop` or import as `import * as Tribute from 'tributejs'`

[2018-09-13 07:31] Gunirus commented on #143
Are you using the package 'as-is' in one of your projects?

[2018-09-17 21:04] agarbund commented on #143
I added another PR with a really easy change fixing that issue #149
Note that current `.d.ts` file doesn't work with the latest Angular (v6).

[2018-09-19 00:05] mrsweaters commented on #143
Thank you guys for reporting this. Can you try the latest release, `3.3.5` and see if that solves your problem. I've merged in @agarbund's PR.

[2018-09-19 12:54] dorinmusteata opened #150 "Input , selection offset"
**How can we reproduce this bug?**

1. Step one
Open , https://zurb.github.io/tribute/example/  or https://zurb.com/playground/tribute?
2. Step two
At "Input Label" insert more than 2 mentions or at playground insert more than 10 mentions
3. Step three
You'll see that selection disappeared or was misplaced

**What did you expect to happen?**

Selection should appear at cursor

**What happened inst

[2018-09-19 20:29] agarbund commented on #143
Yep, works for me.

[2018-09-19 21:35] mrsweaters commented on #143
Sweet! I'm closing it down. Let me know if you guys have any other TypeScript issues.

[2018-09-19 21:35] #143 closed

[2018-09-20 17:45] mrsweaters commented on #150
@dorinmusteata Thank you for reporting! What browser and operating system are you using?

[2018-09-20 18:30] dorinmusteata commented on #150
@mrsweaters Google Chrome , Windows 10 , also tried Microsoft Edge with the same result.

[2018-09-23 00:10] GlennNZ opened #153 "Multi-character trigger does not work"
**How can we reproduce this bug?**
1. Create a collection using a multi-char trigger.
var tribute = new Tribute({
  collection: [{
     trigger: "->",
     values: [
        {key: 'Foo', value: 'foo_'},
        {key: 'Bar', value: 'bar_'}
     ]
  }
}

This is likely working as intended though.

**What did you expect to happen?**
Upon pressing the last character of a multi-char trigger sequence, t

[2018-09-27 06:53] Skoroglyad opened #155 "noMatchTemplate does not work"
I work with tribute via ajax. It works very well if I find a user. How to return "No result" if I don't find a user? Tribute attached to ContentEditable div.
Can somebody help me? What is wrong with my code?

`var tribute = new Tribute({
    collection: [{
        // The symbol that starts the lookup
        trigger: '@',
        selectTemplate: function (item) {
            if (typeof item === 'u

[2018-10-04 20:35] neilcamm commented on #97
@Truemedia, wouldn't it be more performant to perform that check on submit?

[2018-10-26 12:53] theizzer commented on #155
Hey @Skoroglyad,
I had the same problem as you. I was inspecting Tribute source code and I found out that the noMatchTemplate has to be outside the "collection".

In other words: It seems that you can't have different "noMatchTemplate" function for each collection.

If you put the noMatchTemplate outside the Tribute.colletion[], it will work.

[code]

I found out that same goes for "allowSpaces" o

[2018-10-29 18:55] fishgrind commented on #141
I created a pull request (https://github.com/zurb/tribute/pull/161) meanwhile you can use my fork, although it has another pull request open on it too (https://github.com/zurb/tribute/pull/160) but that shouldnt be a problem

[2018-10-31 09:21] fishgrind commented on #141
found out my pull request doesn't work on Android devices because they don't send keycodes apart from keycode 225. Working on a solution for this and will add a new pull request soon.

[2018-10-31 14:12] fishgrind commented on #141
pull request updated and tested on android

[2018-11-12 21:57] moshekarmel1 commented on #76
Bump. Any update on this?

[2018-11-13 17:46] #76 closed

[2018-11-13 18:06] mrsweaters commented on #141
Merged!

[2018-11-13 18:06] #141 closed

[2018-11-13 19:35] moshekarmel1 commented on #76
THANK YOU!!!!

[2018-11-19 03:45] alfredalfie123 opened #166 "In mobile browser, I could not remove value after mentioning in contenteditable field"
**How can we reproduce this bug?**
1. Open https://zurb.github.io/tribute/example/ in **mobile browser**
2. Mention someone in contenteditable field
3. Remove this person

**What did you expect to happen?**
It should remove person.

**What happened instead?**
Could not remove person.

[2018-11-20 08:35] AshMcConnell commented on #135
This is reasonably simple to do yourself using lodash debounce (or similar), see the values property below

`const tributeOptions = {
                trigger: '`',
                values: _.debounce(this.loadData.bind(this), 200),
                lookup: 'surname',
                selectTemplate: function (item) {
                    return item.original.surname;
                },
            };`

[2018-11-20 09:33] AshMcConnell opened #168 "An error happens if we press tab or enter before ajax request returns"
**How can we reproduce this bug?**

1. Step one
Use a function to get data from a server

2. Step two
Enter a letter (`@b` for example)
3. Step three
Press tab or enter immediately

**What did you expect to happen?**
Nothing would be inserted

**What happened instead?**
We got an error: -

[code]

[2018-11-27 14:16] MrfksIv opened #169 "removing value from mentions"
Is there a way of removing as specific value from the list of mentions? I.e. something like the opposite of 'appendCurrent(..)'

For example, Tim is no longer part of the chatgroup and shouldn't come up in the mentions list.

[2018-11-28 14:10] fynnfeldpausch commented on #150
We have the same problem using Chrome on OSX. It seems that the dropdown positioning works fine as long as there is enough space to display the entire dropdown. As soon as there is not enough space, the dropdown is positioned with a completely wrong offset.

[2018-12-03 16:16] thecoconutstudio commented on #166
I'm also having the same issue. It's find on iOS devices, just android

[2018-12-04 08:44] thecoconutstudio commented on #166
@alfredalfie123 did you find a solution to this?

[2018-12-04 17:06] htmltiger opened #170 "Allow space to select the first value"
I have just migrated from [Atwho](https://github.com/ichord/At.js) and miss the functionality to select using Space, currently using Tab/Enter to select.

Is it possible add an option spaceSelectsMatch?

[2018-12-05 16:38] alfredalfie123 commented on #166
@thecoconutstudio unfortunately I can't.

[2018-12-10 16:24] andrewborstein opened #171 "Issues with contenteditable on IE11"
## Can't add multiple mentions

**How can we reproduce this bug?**

1. Visit https://zurb.github.io/tribute/example on IE 11
2. Successfully add a mention to the contenteditable field
3. Attempt to add a second mention in the same field

**What did you expect to happen?**

Second mention is added

**What happened instead?**

Mention suggestions appear but cannot be selected. Attempting to click a

[2018-12-13 08:14] fynnfeldpausch opened #172 "Mousedown triggers events with unwanted side effects"
**How can we reproduce this bug?**

1. Bind a tribute to an input or textarea within a modal window.
2. Trigger a tribute search.
3. Select an entry outside of the modal area.

**What did you expect to happen?**
The tribute entry is selected and the modal is still open.

**What happened instead?**
The tribute entry is selected and the modal window closes immediately.

**Additional info**
The reaso

[2018-12-17 14:46] fynnfeldpausch opened #174 "Menu outside viewport"
**How can we reproduce this bug?**

1. Set the min-width of the menu to 300px (or add a long option to the menu)
2. Scale down to a window size of less than 300px to the right
3. Trigger a tribute

**What did you expect to happen?**
The menu is placed within the viewport.

**What happened instead?**
The menu is automatically re-positioned to the left. However, there is no space to show the tribute

[2019-01-04 18:34] mrsweaters commented on #174
I was able to reproduce this, working on a fix now. Thank you!

[2019-01-04 18:50] #174 closed

[2019-01-04 18:55] #172 closed

[2019-01-04 19:06] mrsweaters commented on #171
I think these issues have been resolved as I'm no longer to reproduce them. Can you test against master and confirm? Thank you for filing!

[2019-01-04 19:19] mrsweaters commented on #166
I'm not able to reproduce this. Can you test again against master? What version of Android and which browser? Thank you!

[2019-01-04 19:46] #170 closed

[2019-01-04 19:50] mrsweaters commented on #169
Yes! You would need to overwrite the whole values array. To do this, pass the optional `replace` boolean to `appendCurrent`.
https://github.com/zurb/tribute/blob/994fbf2d1632a383cc45f232df87e0a5ec0e21fa/src/Tribute.js#L377

[code]

Thanks for asking!

[2019-01-04 19:50] #169 closed

[2019-01-04 21:55] mrsweaters commented on #171
I have pushed these updates to version `3.5.0`. Let me know if that works for you!

[2019-01-04 21:56] #171 closed

[2019-01-04 21:56] mrsweaters commented on #166
You can now test these changes against version `3.5.0`. Let me know if you are still experiencing these issues by reopening this one.

[2019-01-04 21:56] #166 closed

[2019-01-06 23:12] htmltiger commented on #105
Thanks, this also work for spaceSelectsMatch: true

[2019-01-06 23:15] htmltiger commented on #170
Thank you, it works fine on single but failed on collection.
the workaround
`Tribute({collection: [collection1, collection2, collection3], spaceSelectsMatch: true})`

[2019-01-16 07:25] stromblack opened #178 "Menu re-position on top viewport on edge"
**How can we reproduce this bug?**

1. set div.mention on bottom page
2. slide up scroll bar just a little bit  and small space less min-height  from class tribute-container
3. and trigger mention

**What did you expect to happen?**
menu re-position on top

**Screenshot:**
<img width="898" alt="screenshot 2019-01-15 17 47 33" src="https://user-images.githubusercontent.com/20058341/51232695-35d01c8

[2019-01-18 18:26] rcavezza opened #181 "How to insert trigger back into input box when using selectTemplate"
**How can I leave the trigger in my input box when selecting an item that utilizes `selectTemplate`?**

**Steps to reproduce**

1.) Implement collections utilizing selectTemplate.
2.) Click on an autocomplete item.
3.) Autcomplete utilizes the selectTemplate function, but the trigger goes away.

1.) When I attempt to add a second parameter in `#selectTemplate`, it is null.

**Expected behavior**

[2019-01-18 18:30] rcavezza commented on #181
I just figured out a workaround. This isn't a crucial issue, but the feature of a second optional parameter in `selectTemplate` would be nice.

[2019-01-18 19:41] rcavezza commented on #181
I was able to find a workaround. This isn't a crucial issue, but being able to easily grab the trigger value in the `selectTemplate` method would be a nice feature.

[2019-01-18 19:55] rcavezza opened #182 "How to implement logic so triggers don't override one another"
**How can we reproduce this bug?**

1. Create a multiple collection with multiple triggers (one including an empty space): For example, "+" and " ", as different triggers.
2. Turn     spaceSelectsMatch to false  and allowSpaces to true
3. Search for a value that has a space in the middle. When you have a space, it creates a new autocomplete menu.
4. Remove the space trigger. Spaces now behave as e

[2019-01-18 20:05] rcavezza commented on #182
I think a found a workaround to call this programatically (instead of using "trigger") and checking for isActive for when I want to open the autocomplete with "spaces" or the "backspace".

[2019-01-18 20:05] #182 closed

[2019-01-21 16:01] rcavezza opened #183 "If hit second trigger in autocomplete, 1st trigger's selectTemplate function is used"
In the middle of a triggered autocomplete, if you trigger a new autocomplete and select the value, it retains the trigger value of the first trigger

**How can we reproduce this bug?**

1. Create multi trigger collection with different `selectTemplate` functions for each one. For example, create a trigger with `=` and a selectTemplate function of:
[code]
And create another trigger with `(` with a

[2019-01-25 16:24] Nfinished opened #184 "Menu doesn't scroll on cursor navigation."
**To Reproduce**
1. Visit https://zurb.com/playground/tribute
2. Type `@a`
3. Scroll down beyond suggestions visible in the container using cursor keys.

**Expected Behavior**
Container scrolls with selected item.

**Actual Behavior**
Container does not scroll.

![tribute](https://user-images.githubusercontent.com/1719791/51758214-3ac85680-2093-11e9-8470-ce7d67e25a7b.gif)

[2019-01-30 17:16] mrsweaters commented on #53
@benediktveith Should be working now. Give `3.5.3` a try.

[2019-01-30 17:28] jamauro opened #185 "Is there a way to choose which menu you want to show with `showMenuForCollection` when you have a tribute instance with multiple collections?"
**How can we reproduce this bug?**
1. Set up a tribute instance with multiple collections
2. Try to use showMenuForCollection(element) for the 3rd collection

**What did you expect to happen?**
I expected to be able to choose which collection I want to display.

**What happened instead?**
The menu for the first item in the collection array is shown.

What I've done as a workaround is to set up 2 t

[2019-01-30 17:41] jamauro opened #186 "What's the best approach for performance when you have a values array with 1000+ items?"
I'd like to use Tribute for emojis. It works well except on the first load. It takes ~3 seconds to respond to the trigger. On subsequent triggers of the collection, it's great.

I have ~1100 objects in my `values` array. Each object looks like:
[code]
Does anyone have any ideas on how to speed up the first load other than simply reducing the number of objects?

I've attempted loading a subset when

[2019-01-31 01:03] jamauro commented on #186
Nevermind. I think I got what I needed using the `values` function and `fuzzysort`. It would be cool if tribute offered some way to limit the amount of items that are displayed initially and then used it's own fuzzy searching magic to find the rest as the user types.

[2019-01-31 01:03] #186 closed

[2019-01-31 05:26] jamauro opened #187 "Item isn't inserted into contenteditable div when using `showMenuForCollection`"
**How can we reproduce this bug?**

1. Set up a Tribute instance and attach it to a `contenteditable` div. (Not sure if this is relevant but in my instance I have a selectTemplate and a menuItemTemplate defined).
2. Use the `mousedown` event on another element to call the `showMenuForCollection` as described in the docs.
3. Click one of the items shown in the menu.

**What did you expect to happen

[2019-01-31 07:35] benediktveith commented on #53
@mrsweaters Looks good, thanks 👍

[2019-02-01 08:37] uyphanha opened #188 "how to limit the amount of items that are displayed initially?"
**How to limit the amount of items that are displayed initially?**

In my case, the people to mention is over than 100+, and I want to just display like 4-5 initially or per search.

[2019-02-02 11:29] MalayaliRobz opened #189 "Highlight class is not added to list item on hover."
**the `selectClass: 'highlight',` given in the collection object is not being added to list item on hover.**

To repoduce the issue,:
1. giving a **custom selectClass**, like `selectClass: 'custom-highlight'` and add respective css also
2. when tribute menu opens, hover over the list items
3. custom-highlight is not being applied to the active hovered Li item.

**What did you expect to happen?**

[2019-02-02 12:01] MalayaliRobz opened #190 "MenuContainer scrolling improper when menu-items have different sizes"
**When your tribute menu items have different sizes and when mousedown-ing or on mouseup scrolling is in-proper**

1. Step one
configure menuItemTemplate to have differend styles for different items
2. Step two
when tribute menu appears try moving up and down the list

**What did you expect to happen?**
MenuContainer should scroll to show only the next item.
**What happened instead?**
MenuContaine

[2019-02-02 12:08] MalayaliRobz commented on #189
have a fix here: https://github.com/zurb/tribute/pull/191

[2019-02-02 12:08] MalayaliRobz commented on #190
have made a fix here: https://github.com/zurb/tribute/pull/191

[2019-02-02 15:35] MalayaliRobz commented on #94
I do a version of tribute that works as an autocomplete without any tigger. https://github.com/MalayaliRobz/tribute-autocomplete.

[2019-02-04 06:03] MalayaliRobz commented on #94
@mrsweaters sure, I'm more than happy in merging this back into Tribute. I'll give a PR this week.

[2019-02-06 18:19] #189 closed

[2019-02-06 18:19] #190 closed

[2019-02-07 19:03] rcavezza commented on #185
I believe if you use `showMenuForCollection(element, 2)`, this will give you the functionality you're looking for.

[2019-02-07 19:35] rcavezza opened #194 "showMenuForCollection with option to not add trigger to element"
I would like to be able to send an options object to `showMenuForCollection`. Specifically, I want to pass it with an option to not add the trigger when I attempt to open it.

*Proposed Change*
[code]

[2019-02-07 19:49] rcavezza opened #195 "Do I need permissions to push up a branch?"
Hey @mrsweaters - I'm new to open source. I made a fix and tried to push it up but I'm getting a permission denied error. Do I need to be granted permissions in order to push code? ```ERROR: Permission to zurb/tribute.git denied to rcavezza.
fatal: Could not read from remote repository.```

[2019-02-07 19:59] mrsweaters commented on #195
No worries! You will have to create a PR. Here is a good guide on doing just that:
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2019-02-08 14:50] #195 closed

[2019-02-08 15:14] jamauro commented on #185
@rcavezza that did it. Thanks!

@mrsweaters thanks for adding this functionality. It would be great to see the Readme updated to mention that you can pass in an index for the `showMenuForCollection` function. :)

[2019-02-08 15:14] #185 closed

[2019-02-13 09:35] badz0 commented on #188
@uyphanha try using `function` for `values` and there you can limit how many items you want.
Something like this:
[code]

[2019-02-14 06:11] moltar opened #202 "Option to be able to delete/backspace the entire token/mention at once"
Would be a good feature to be able to remove the entire at-mention with one backspace.

Right now a backspace hit for each individual character is needed.

Thanks

[2019-02-20 08:38] AlightDevCommunity opened #203 "Selecting from second collection removes selection from first (Contenteditable, IE11)"
The bug can be reproduced with the following steps.

**Steps to reproduce:**
1. IE11 --> https://zurb.github.io/tribute/example/
2. Add a mention (@), and select a name
3. Add a hashtag (#), and select a name

**What did you expect to happen?**
That the hashtag is added after the mention.

**What happened instead?**
The hashtag is added, BUT the mention is removed.

Interesting is, that this is NO

[2019-02-20 08:39] #203 closed

[2019-02-20 08:41] nannerup opened #204 "Selecting from second collection removes selection from first (Contenteditable, IE11)"
The bug can be reproduced with the following steps.

**Steps to reproduce:**
1. IE11 --> https://zurb.github.io/tribute/example/
2. Add a mention (@), and select a name
3. Add a hashtag (#), and select a name

**What did you expect to happen?**
That the hashtag is added after the mention.

**What happened instead?**
The hashtag is added, BUT the mention is removed.

Interesting is, that this is NO

[2019-02-20 17:38] MalayaliRobz opened #205 "Ember component for Tribute 🌱"
Here is a small contribution from my side.
An **ember addon** for Tribute.

https://github.com/MalayaliRobz/ember-tribute
and the demos: https://malayalirobz.github.io/ember-tribute/docs/demos

If its all good we could add it the **Framework Support section** along with addons for other frameworks.

[2019-02-21 10:12] riophae commented on #188
I'm facing the same issue. Here is my solution:

[code]

[2019-02-22 12:29] sandeepsukhija commented on #102
@mrsweaters any updates on this?

[2019-02-22 17:23] mrsweaters commented on #205
Thanks @MalayaliRobz. You've been on a role! This looks great too! Feel free to add a PR to update the Readme. Thank again!

[2019-02-22 17:23] #205 closed

[2019-02-22 17:33] mrsweaters commented on #204
Thank you for reporting. I'm not able to reproduce it, but then again I only have browserstack for testing in IE11. Is there a step I'm missing? I am seeing an odd bug if I mention with @ and then use # with the keyup binding removing the menu. Is that what you are referring to?

[2019-02-22 17:34] mrsweaters commented on #202
You can do this by using a custom template with `contenteditable="false"`.
https://github.com/zurb/tribute#links-inside-contenteditable-are-not-clickable

[2019-02-22 17:35] mrsweaters commented on #101
Actually I think this was a bug in a previous release and has sense been fixed. Please checkout a newer release.

[2019-02-22 17:35] #101 closed

[2019-02-22 17:39] mrsweaters commented on #102
Strange, I'm not able to reproduce it anymore. Now if I backspace the mention does not reactivate unless I remove the `@`. Are you seeing the same thing (on master).

[2019-02-22 17:42] mrsweaters commented on #188
@riophae Could you add this to the Tips section of the readme?

[2019-02-22 17:42] mrsweaters commented on #94
Merged!

[2019-02-22 17:42] #94 closed

[2019-02-22 17:43] #202 closed

[2019-02-22 17:46] mrsweaters commented on #168
@AshMcConnell Can you share your code in a codepen or similar service?

[2019-02-22 17:47] mrsweaters commented on #155
@theizzer This could be a great addition to a collection. I could see the use cases for having a different "No Match" template for each collection.

[2019-02-22 20:32] riophae commented on #188
@mrsweaters I think it would be better to have a new option for it :)

[2019-02-22 21:26] mrsweaters commented on #188
@riophae Good point!

[2019-02-23 00:23] apbln opened #208 "How to highlight mentioned items in textarea?"
How to highlight the mentioned items in the textarea? they have the same color as the other text.

[2019-02-23 01:44] moltar opened #209 "If replaceTextSuffix is an empty string, then cannot jump over the last inserted token with arrow keys"
**How can we reproduce this bug?**

The demo sets `replaceTextSuffix: ""`, which is what causes the issue.

1. Type in `@` and select any suggestion
1. Hit the keyboard <kbd>Left</kbd> key and the cursor should reposition before `@`
1. Now hit the <kbd>Right</kbd> key and the cursor is stuck in the same position.

**What did you expect to happen?**

Cursor to jump over the suggestion.

**What happ

[2019-02-23 01:52] moltar opened #210 "Using keyboard arrow keys does not work in Firefox"
Might be related to #209.

**How can we reproduce this bug?**

1. Use Firefox
2. Type in `@` and select on the suggestions
3. Hit <kbd>Left</kbd> arrow key on the keyboard

**What did you expect to happen?**

For cursor to step over the suggestion to the left

**What happened instead?**

Cursor stayed in place.

**Link (jsfiddle/plunkr/codepen) or Screenshot:**

https://codesandbox.io/s/r62lklk7m

[2019-03-01 15:08] nikolafilchev commented on #109
I am also experiencing this and in a need of a fix or a workaround

[2019-03-04 16:55] kein-b opened #213 "IE11 - Issues with contenteditable"
In IE11
1. The @ mention only works fine on the 1st mention, succeeding mentions will no longer trigger.
2. Moving the cursor on the beginning of the mention will make the whole element unresponsive to input.

These bugs can be replicated on the demo page and our app which uses version 3.6.0
https://zurb.github.io/tribute/example/

Issue 1
![tributejs-ie11](https://user-images.githubusercontent.co

[2019-03-05 09:41] ashwin1014 commented on #213
is there any solution to this?

[2019-03-05 10:13] ashwin1014 commented on #171
The issue still exists for Internet Explorer 11. Tested version 3.6.0

[2019-03-05 15:33] imndx opened #214 "How to search Chinese(中文) from pinyin?"
The following is what I mean.

[code]

 When I input ```zhongwen``` , ```zhong``` or ```zhongw```, I want ``` {key: '中文', value: 'cn'}``` is matched,

[2019-03-05 17:31] randolf commented on #214
Perhaps you can set the key to include the PinYin (and also ZhuYin while you're at it) alternatives, but then create a function for "menuItemTemplate" that only displays the portion up to some delimiter (space, or a colon, or whatever you decide to use).

[2019-03-05 17:33] randolf commented on #214
Note for developers:  What would be really great is if there was support for hidden key values (if there already is, then that would be great).  Perhaps an "alt" variable could be set alongside the "key" variable that could be used to store common misspellings of words, different entry systems (such as PinYin), etc.

[2019-03-06 04:49] imndx commented on #214
@randolf Thank you for your reply, you comment inspired me.
Finally, I find a solution, ```tribute``` already support such situation.

[code]

Now when I input ```zhongwen```, ```zhongw``` or ```中```,  item ``` {key: '中文', value: 'cn', searchKey:'中文zhongwen'}``` is matched.

[2019-03-06 05:44] #214 closed

[2019-03-06 07:03] randolf commented on #214
Oh, wow!  That's an even better solution!  Thanks for showing an example of how to use it (this will be helpful to me too).

[2019-03-06 16:47] jamauro commented on #187
Anyone have any ideas on this one? Do I need to write something custom to get the item to insert into the contenteditable div when clicked?

I've tried a few things and haven't had success.

@mrsweaters @rcavezza I would greatly appreciate any insight y'all might have. :)

[2019-03-06 17:22] rcavezza commented on #187
@jamauro What's the return value of your `selectTemplate`. Are there any errors in the console?

[2019-03-06 18:28] jamauro commented on #187
Right now it's ```"<span class='emoji'>"+item.original.value+"</span>"```.

No console errors. If I put a `console.log(item.original.value)` in the `selectTemplate` it will register the click and return the value.

[2019-03-07 15:50] dana2112 opened #215 "Javascript console error when clicking on the scrollbar of tribute popup."
**How can we reproduce this bug?**

1. Step one
Open the javascript console for the broswer.  Open the a mention popup with enough results to allow scrolling.
2. Step two
Click on the scrollbar instead of scrolling with the mouse wheel.
3. Step three
Note the error in the browser console.  I see this with Chrome, Firefox, and Edge on MacOs Mojave 10.14.3 and Windows 10.

**What did you expect to h

[2019-03-12 09:44] apbln opened #216 "Can't continue via spacebar if NoMatchTemplate() AND spaceSelectsMatch are active"
![image](https://user-images.githubusercontent.com/38110721/54190168-a59ee700-44b3-11e9-9734-09b9dffe5a14.png)
![image](https://user-images.githubusercontent.com/38110721/54190179-aafc3180-44b3-11e9-9996-fc606112f34e.png)
Obviously spaceSelectsMatch awaits a match to continue and it doesn't consider a new tag being written. I have to unfocus the editor and focus again to continue.

[2019-03-13 01:35] TMCentral opened #217 "Variable / Property replaceTextSuffix not Assigned in Collection Assignment"
**How can we reproduce this bug?**
1. Step one: In constructor with collections, assign variable replaceTextSuffix to any 1 or all of the collections

**What did you expect to happen?**
Variable replaceTextSuffix  to be defined and function.

**What happened instead?**
Check collection variable(s) in memory: replaceTextSuffix  is undefined.

Appear missing in the collection array assignment (Tribu

[2019-03-13 01:42] TMCentral opened #218 "Enhancement/Feature Request: Notify on Menu Cancel"
Notify event ('tribute-menu-cancelled'?) if Menu has been closed without a selection being made.

[2019-03-15 02:59] jamauro commented on #187
I'm no longer seeing this issue after moving from v3.5 to v3.6

[2019-03-15 02:59] #187 closed

[2019-03-15 12:39] #208 closed

[2019-03-22 08:01] tcstory opened #221 "the highlighted item won't follow your cursor"
**How can we reproduce this bug?**

mac os, chrome 73

when you hover over the menu items, the highlighted item likely won't change,

**Link (jsfiddle/plunkr/codepen) or Screenshot:**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/5856466/54821059-1cba5380-4cdc-11e9-87a1-23da6c4eccf7.gif)

as you can see, when i  hover over the items, the highlighted item likely won't change,

[2019-03-22 08:39] MalayaliRobz commented on #221
Could you share a jsfiddle/plunkr/codepen link replicating the issue? Highlighting seems to be working fine on the demo page(https://zurb.github.io/tribute/example/).

`e.movementX !== 0 && e.movementY !== 0` is for
fixing bug that caused setActiveLi to be called when mouse pointer inside one of the items and scrolling through keyboard, caused improper highlighting.
![52480095-c03e2180-2bd0-11e9-9

[2019-03-22 11:59] tcstory commented on #221
@MalayaliRobz sorry, i had post the gif just now.

you shouldn't use keyboard to select item, instead of using cursor

[2019-03-22 18:24] MalayaliRobz commented on #221
Got it. Seems that mouseenter.X and Y are being zero.

[2019-03-23 17:23] MalayaliRobz commented on #221
have a fix here https://github.com/zurb/tribute/pull/222

[2019-03-24 09:31] riophae opened #223 "Should trigger change event on the input element when text replaced"

[2019-03-26 09:54] badz0 opened #224 "Error while loading remote values"
**How can we reproduce this bug?**

1. Open reproducing demo https://jsbin.com/vohabon/edit?html,js,output
2. Open console
3. Type `@` in textarea and during next 2sec press up or down or enter or tab button on you keyboard and see the error in console.

**What did you expect to happen?**
Expect error not happening

**What happened instead?**
Before async values were fetched tribute tried to acces

[2019-04-01 09:21] tcstory commented on #10
I had meet the similar problem, in the source code it use `window.pageYOffset` to calculate the value of `windowTop`, but it's wrong when you set menuContainer to another div insteaf of the body

[2019-04-05 05:29] deepinder10 opened #229 "Undo (ctrl + z) not working fine with content editable"
**How can we reproduce this bug?**

1. Mention someone in content editable
2. Press undo key
3. Mention isn't removed

[2019-04-11 03:39] nmfisher commented on #153
This doesn't work where requireLeadingSpace is true, so I've created a fix+test. To make things easier to track, [I've created a PR for your fork](https://github.com/GlennNZ/tribute/pull/1) which you can merge into this PR if you wish.

Should reiterate my comment on the fork PR - I haven't dug deeply into this library so I can't guarantee it doesn't break anything. I would welcome comments from t

[2019-04-12 13:39] sandeepsukhija opened #231 "Suggestions popup doesn't close on off click when opened through showMenuForCollection"
**How can we reproduce this bug?**

1. Configure tribute to show suggestions
2. Open a tribute suggestion programatically using showMenuForCollection function
3. Click outside the suggestion box, the box is not closed

To simulate the issue
1. Use the base codepen : https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010#0
2. Click on @mention, it would  open a suggestion box with users
3. Click any

[2019-04-12 20:39] andreynering commented on #153
I'd love to have this issue fixed.

[2019-04-15 18:39] pkenway commented on #210
I'm seeing similar issues with delete. I think it's related to this bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=685452

[2019-04-16 13:38] Issabln opened #233 "How to force Menu to update?"
While typing I'm pushing new values into the collection programatically. Of course, the NoMatchTemplate pops up, because the values were not there in the beginning. But how could I force the menu to recheck if there are actually items in the values, so the selectTemplate shows up again?

[2019-04-16 20:02] MalayaliRobz commented on #233
This might sole your use-case.
modify your collection by :
[code]
Then in tribute-no-match listernet callback
do
[code]

ie we are calling showMenuFor the inputbox again thereby re-rendering the suggestions list.

https://codepen.io/RobBe95/pen/xeppmv?editors=1010 as reference

[2019-04-16 23:45] apbln commented on #233
First of all, thanks for helping :), the little problem thereby is, there would be no noMatchTemplate anymore. Sorry, I didn't explain properly: The reason for my question is, I'm adding values from another component (in Vue) and if the typed word / character is not in the other component's values, the noMatchTemplate shall still pop up.

https://codesandbox.io/s/04yw5x443l

please take loop into

[2019-04-17 00:02] mrsweaters commented on #233
You are updating `this.options.collection[1].values` but not Tribute with the new values. Tribute doesn't know that the values have changed. You would need to call `this.$refs.tribute.tribute.append(1, [{ key: ParentSuggestion }])` or replace the whole collection values array with `this.$refs.tribute.tribute.append(1, this.options.collection[1].values, true)`

Have you check out this vue-tribute i

[2019-04-17 00:33] apbln commented on #233
"Have you checked out this vue-tribute integration?"
Yes I'm actually using it :), but unfortunatley this specific issue isn't dealt with there. I've also looked up the Issues and asked Syropian.

When I try the append-methods you mentioned, nothing happens, i.e. the values aren't added. If they (one of them) were actually working, would there be another check for matching values, so that the sele

[2019-04-17 14:28] AndreLZGava opened #234 "Error Tribute with CKEditor integration"
**How can we reproduce this bug?**

1. Step one - Install Tribute with CKEditor
2. Step two - Configure @ to open your contact list
3. Step three - Start HTML page then start your type by @ this will cause an error

**What did you expect to happen?**
Just open list and continuing typing
**What happened instead?**
When I do It with CKEditor , (type @ in the field) . This error happens VM1303:44126

[2019-04-17 15:29] EmilienLeroy opened #235 "Content editable didn't work into Shadow Dom"
**How can we reproduce this bug?**

1.  Create an component which extend the HTMLElement class.
2.  Into the shadow dom add a div.
3.  Attach tribute to this div inside the shadow dom.

**What did you expect to happen?**

Tribute didn't work with content editable into a shadow dom but it work with input and textarea.

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
https://codepen.io/emilienlero

[2019-04-18 00:01] apbln commented on #51
@nathanchase how did you solve your problem?

[2019-04-18 00:17] apbln commented on #155
I do it this way in vueJS

 noMatchTemplate() {
          if (this.current.collection.trigger === "#")
            return "<li class = 'noMatches'>No matches found - Tag will be added</li>
          else if (this.current.collection.trigger === "@")
            return "<li class = 'noMatches'>No matches found</li>";
        }

[2019-04-18 17:56] mrsweaters commented on #155
@apbln Would it still help to have this as separate templates per collection or does that add too much overhead?

[2019-04-18 18:34] apbln commented on #155
It's the first thing users try (to put it into the collection). I would either have it in separate templates or just add an example (as above) to the tips.

[2019-04-19 22:42] apbln commented on #233
Any other idea??

[2019-04-19 22:51] mrsweaters commented on #233
I think it's a bit of both what @MalayaliRobz suggested and what I suggested. Try updating the collection with `append` and then calling [`showMenuForCollection`](https://github.com/zurb/tribute#trigger-tribute-programmatically).

[2019-04-22 01:14] apbln opened #238 "look for matching values via startswith()"
It would be great if there was an option to choose to look for values via startswith() instead of test(). In my case I've set the maximum dropdown items to 5.

my example values:
[code]

If I now write a 'd' it shows me the first 5, but not the 'dora' one.
![grafik](https://user-images.githubusercontent.com/38110721/56478000-c2afd800-64ab-11e9-89e2-f9f5bb22c743.png)

This could make the user think

[2019-04-23 06:41] fburian opened #241 "allowSpaces not working correctly, when hit the space bar"
**How can we reproduce this bug?**
My Code:
var tribute = new Tribute({
    trigger: '',
    requireLeadingSpace: false,
    spaceSelectsMatch: false,
    allowSpaces: true,
    autocompleteMode: true,
    positionMenu: true,
    replaceTextSuffix: '',
    values: [
        {key: 'Katniss Everdeen', value: 'Katniss Everdeen'},
        {key: 'Bill Gates', value: 'Bill Gates'}
    ]
});

**What did

[2019-04-26 00:55] apbln opened #243 "How to get use of the score property of the values ?"
in tribute.js and TributeSearch.js I found the function calculateScore() and I saw that every item gets a score property as well. How could I use them in my search, i.e. add scores if the values are mentioned and then get shown prior to other matching value in the suggestion-dropdown?

[2019-04-26 17:02] ZobovV opened #245 "Does it work in TinyMCE?"
**Does it work in TinyMCE?**

Tried to add it to editor in different ways, but all of them didn't work.

[2019-04-27 15:42] leninhasda opened #246 "How do I show current word that I'm writing in the suggestion list?"
I see that there are `append` and `appendCurrent` method for the purpose, and both of them calls `_append` method which just add the new value in `collection.values`. But it does nothing to show the newly added value in the currently rendered list.

What I am expecting is, as I type something in the input box that word should be added in the suggestion list as well. Maybe in `_append` method after

[2019-04-27 15:53] MalayaliRobz commented on #246
seems to be to a related to https://github.com/zurb/tribute/issues/233

[2019-04-30 17:27] sgangs opened #249 "Prevent automatic trigger of new line"
As I select any option from a dropdown, it automatically creates a newline. I'm using tribute.js from jquery.

How can I make sure this doesn't happen every-time someone ends up selecting an item from the dropdown

Do note that <b>autocompleteMode</b> is <b>true</b>

[2019-04-30 17:42] MalayaliRobz commented on #249
what is the value you gave to replaceTextSuffix: ?
might be bcoz of having replaceTextSuffix as '\n'.

[2019-04-30 17:46] deepinder10 commented on #229
@MalayaliRobz any update on this?

[2019-04-30 19:27] MalayaliRobz commented on #229
not really sure how this could be implemented.

[2019-04-30 19:49] deepinder10 commented on #229
Whatsapp web has implemented this, i am not sure how to approach this, if you can point me towards some resources so that i can research on methods to fix this.

[2019-05-02 10:14] sgangs commented on #249
Dear Malayali, regret the delay. The issue was the source of data was automatically adding "\n" to it. Hence, the issue. Thanks a lot.

[2019-05-02 10:14] sgangs commented on #249
Dear Malayali, regret the delay. The issue was the source of data was automatically adding "\n" to it. Hence, the issue. Thanks a lot.

[2019-05-02 10:14] #249 closed

[2019-05-02 10:20] sgangs opened #250 "Delete item from dropdown"
**This is not a bug**
I am using Font Awesome and appending the item with a delete font awesome icon.

![Image](https://user-images.githubusercontent.com/16298876/57069241-ac96e880-6cf1-11e9-8917-d16201bc5b7e.png)

Now, I want a on-icon event clicker, that would recognise the user has clicked the image and not the text. This would give the users the option to delete individual items from the list.

[2019-05-02 18:19] deepinder10 opened #251 "Mention not removing if entered after some line breaks"
**How can we reproduce this bug?**

1. write something and make some line breaks (3-4)
2. add a mention
3. try deleting that mention, it will not delete

[2019-05-02 21:51] shaydoc opened #252 "MultiCollections Single Trigger ?"
This is more of an enhancement request:
But would it be possible to support multiple collections within a single trigger, as this would be awesome....

<img width="391" alt="Screenshot 2019-05-02 at 22 40 41" src="https://user-images.githubusercontent.com/1378519/57108906-05837280-6d2c-11e9-951b-b57334f85857.png">

[2019-05-05 08:03] deepinder10 commented on #251
Setting white-space: pre-wrap did the trick

[2019-05-05 08:03] #251 closed

[2019-05-06 20:31] mrsweaters commented on #221
Fixed, releasing in 3.7.0

[2019-05-06 20:31] #221 closed

[2019-05-06 20:32] mrsweaters commented on #224
Fixed, releasing in 3.7.0

[2019-05-06 20:32] #224 closed

[2019-05-06 20:45] mrsweaters commented on #245
If TinyMCE uses an iframe it might be related to this issue: https://github.com/zurb/tribute/pull/248

Can you try the version in that PR and let me know if that helps?

[2019-05-06 20:48] mrsweaters commented on #252
This might not be that farfetched, we could actually merge the collection values in this case. You're goal here being that you would want to use a different template for each one still?

[2019-05-06 20:51] mrsweaters commented on #250
When they click on the trash can you want to remove the item from the collection? This should be doable in the current state using a combo of `addEventListener` and `event.stopPropogation` on your menu. I think you'd have to put the binding on the menu itself and see if the `event.target` is your trash can, then run `tribute.appendCurrent()` to update your collection to the `values` array without

[2019-05-06 21:31] mrsweaters commented on #229
This may require us to use `execCommand` instead of `Range.insertNode`. https://github.com/zurb/tribute/blob/master/src/TributeRange.js#L169

[2019-05-06 22:15] mrsweaters commented on #246
This may require a change to `showMenuForCollection`. @leninhasda Can you see if the below PR/example works for your needs?
https://github.com/zurb/tribute/pull/254/files#diff-3ec40a1e2a924ba4ba6521185d17b0f2R167

[2019-05-07 07:03] sgangs commented on #250
Thanks a lot. I shall take it up later in the day and see if this would work.

[2019-05-07 10:04] shaydoc commented on #252
@mrsweaters hey, for sure, I would be definitely using a different template for each entity type.
I also want the ability to section them off as above. I would like search to filter all three lists also.

[2019-05-07 12:54] shaydoc opened #257 "Open and Close hooks"
Hey, this is another feature request, as in the ability to expose/raise `onOpen` menu and `onClose` menu hooks. What we will be looking to do is to freeze scrolling of the parent container until a mention has been selected or the tribute container has been closed.

[2019-05-07 16:42] mrsweaters commented on #250
Set a menu item template with unique identifier:
[code]

add event binding:
[code]

Something like that.

[2019-05-07 19:02] sgangs commented on #250
Thanks a lot.... Will surely look into it... I believe this logic would indeed work. Thank you again

[2019-05-07 22:47] andreynering commented on #188
I think https://github.com/zurb/tribute/pull/240 fulfils this requirement.

[2019-05-07 22:51] #188 closed

[2019-05-08 22:46] pavei commented on #257
Yeah! I need to hide an element when is open and show when is closed. Very nice feature!

[2019-05-10 08:44] shaydoc opened #258 "Can we support multi keypress (Meta+Shift+Key) triggers also"
As a power user a nice feature would be to launch the tribute container a multi keypress trigger such as described in the title ?

[2019-05-13 16:25] 7obias commented on #245
@mrsweaters  I am trying an integration into TinyMce 3.
I am running into issue #248

Tribute.js:336 Uncaught DOMException: Failed to execute 'getRangeAt' on 'Selection': 0 is not a valid index.
    at Tribute.insertTextAtCursor (http://local.unodc.org/cms/js/bower_components/tribute/dist/tribute.js:379:25)
    at Tribute.showMenuForCollection (http://local.unodc.org/cms/js/bower_components/tribut

[2019-05-13 20:42] 7obias commented on #245
so I think I figured it out.  I tried PR  #248 and #256 which also sounded related. neither worked for me.

[code]

the PRs do not seem to touch on the issue I am facing.
TributeRange seems to rely in many places on the gobal window object.  In case the iframe: option is set isn't this an issue?  shouldnt it them be using the iframe's window instead to get the selection range?

[2019-05-13 23:39] mrsweaters commented on #245
Thanks for the update @7obias, I think you're on to something about using the global window object for this. We should abstract that out into a `getWindow` method like `getDocument`.

[2019-05-14 09:34] keligijus commented on #166
I think this is still an issue.

Demo. Tested on Android emulator, Nexus 5x, Chrome, on Tribute demo site.

When deleting characters, the contenteditable box first loses focus, then random characters are added.

![tribute-android-bug-demo](https://user-images.githubusercontent.com/6559757/57687354-fe216a80-7643-11e9-9098-48058513aa25.gif)

[2019-05-14 12:44] Bunobuno commented on #178
Have the same issue

If there is not enough room left in the viewport to display the list of mentions, then it "jumps" upwards

Test case from https://zurb.github.io/tribute/example/ :

When viewing in full page:
![image](https://user-images.githubusercontent.com/45098875/57698579-38940300-7656-11e9-8cdd-4d92d59be0ef.png)

`#tribute-container` style:
[code]

When artificially reducing viewport's h

[2019-05-15 08:37] 7obias commented on #245
So I went down that path. I pulled getDocument and getWindow up into Tribute.js and used them in places window and document were used directly.
Now with the proper iframed window reference I still get the same Exception.
I guess there is more to it. maybe related to this https://stackoverflow.com/questions/22935320/uncaught-indexsizeerror-failed-to-execute-getrangeat-on-selection-0-is-not

[2019-05-16 04:12] Alex61NN5 opened #260 "Click event doesnt seem to be firing on mobile with custom menuItemTemplate"
Hey There,

I am using tribute in my application, but I am using a custom `menuItemTemplate()` like so

[code]

my css is as follows
[code]

now on desktop this works perfectly fine, but on mobile, The only way I can get the event to fire is if I click on the image, If I click anywhere else nothing happens

I have attached a codepen that shows the same issue on mobile.

https://codepen.io/alex61NN

[2019-05-16 07:28] chq901226 opened #261 "use the Chinese input method in Safari"
When I use the Chinese input method in Safari, the performance is very abnormal, I can't input Chinese characters. I think that the appearance of the selected menu causes the input to lose focus, or a compatibility problem with Safari.

[2019-05-16 14:58] senky opened #262 "Stop propagation when user hits enter"
**How can we reproduce this bug?**

1. Create an input with `onkeyup` listener.
2. Attach tribute to the input.
3. Select from mention suggestions using keyboard and hit enter.
4. `onkeyup` event is triggered.

**What did you expect to happen?**

I have an input which sends message when user hits enter. I want to add @mention capability so when user selects from the list, it is appended to the tex

[2019-05-17 05:37] gunak50 opened #263 "Tribute import error in Typescript"
I am trying to create the typescript tribute sample . When I import the tribute js library it throws the following error.
[  Import error, can't find file:
./Tribute  ].

I have imported tribute js dependencies in package.json file.

how to solve this error in typescript ??

I have attached stackblitz sample for the reference

https://stackblitz.com/edit/typescript-dn2v2z?embed=1&file=package.json

[2019-05-17 05:54] gunak50 opened #264 "Throws a console error when running tribute in the typescript"
I declared tribute in the Typescript file

import Tribute from 'tributejs';
var tributeObj = new Tribute({
        values: [
          {key: 'Phil Heartman', value: 'pheartman'},
          {key: 'Gordon Ramsey', value: 'gramsey'},
          {key: 'Jordan Humphreys', value: 'Jordan Humphreys'},
          {key: 'Sir Walter Riley', value: 'Sir Walter Riley'}
        ]
      })
      tributeObj.attach

[2019-05-21 03:56] onhate opened #265 "Skip local search/filter when remote search is applied"
**What did you expect to happen?**
I would like to be able to disable local search/filtering on array when remote search is configured.

**What happened instead?**
My server side deals with multi language and accents, but when data comes to the front there's a new filtering in the component and that causes to no records to be displayed.

[2019-05-23 14:16] SmithJr95 opened #266 "Missing the ShowMenuForCollection functionality in Typescript"
Hi there,

I am currently working with tributejs in typescript (Angular project, also using ngx-tribute).

The setup is as follows: a contenteditable div with a tribute collection containing multiple triggers.
Writing text to the div and inserting tributes by typing the trigger chars works as expected.

In addition to that behaviour I want the functionality to add a tribute by clicking a button, i

[2019-05-27 11:50] philippejadin commented on #153
I'm trying to use tribute to trigger with f: and d: instead of @ and it doesn't work. It is related I guess. Any workaround?
Thanks!

[2019-05-28 09:08] #262 closed

[2019-05-28 12:46] irinelpascu opened #269 "Highlighting textarea mention query text"
**How can we reproduce this bug?**
It's more of a feature request or approach curiosity than it is a bug.
I want to highlight the query being entered in the textarea like jira does.
<img width="452" alt="Screenshot 2019-05-28 at 15 42 02" src="https://user-images.githubusercontent.com/11441699/58478606-2b4f3c00-815f-11e9-88b9-b0e8744af879.png">
I am talking about the blue text in the attached imag

[2019-05-29 10:36] Bunobuno commented on #178
After looking at the code, I don't really understand the logic of handling bottom overflow (ie when the list pops up and goes beyond the bottom edge of the viewport).

[code]

If menus if off-screen through the bottom edge, why not simply display it right at the edge of the viewport?
[code]

[2019-06-03 18:44] sgangs commented on #250
Dear @mrsweaters,

I tried proceeding the way you said, however there's a problem. The on click event isn't getting recognised.

Do note that I'm dynamically adding the tribute element using:

    tribute.attach(document.getElementById('current_input'));

I tried using your code inside a function viz:

    $('body').on('DOMNodeInserted', '.tribute-container', function() {
        //your_codes

[2019-06-03 20:38] mrsweaters commented on #250
@sgangs Sure thing! Can you share with me a codepen that reproduces the issue?

[2019-06-04 06:51] sgangs commented on #250
Here is a codepen... I've used the hover option here to show you hover is working. However, if I were to use the on-click event listener, it's not working.

https://codepen.io/sganguly/pen/gJEGaz

Note that tribute is only in the 3rd block as of now (i.e. diagnosis). Hence, only when the 3rd block is selected, tribute attachment function is triggered.

[2019-06-04 18:55] sgangs commented on #250
Dear @mrsweaters Did you have the opportunity to look into the issue?

[2019-06-04 20:26] mrsweaters commented on #250
not yet!

[2019-06-04 21:52] dessalines opened #270 "Emoji template?"
Has anyone done an autocomplete for emojis already? I have a markdown plugin that converts `:smile:` to :smile: on render of the textarea, but no autocomplete with the picture yet.

[2019-06-06 07:19] dandelion1000 commented on #261
how you deal it？

[2019-06-06 07:19] dandelion1000 commented on #261
I just meet the same problem

[2019-06-06 07:30] dandelion1000 commented on #229
this bug is fixed？

[2019-06-06 20:38] onhate commented on #265
#271

[2019-06-11 21:32] tmk1991 commented on #233
Having the same issue. I've tried the suggestions however calling showMenuForCollection re-populates the trigger symbol again and discards the previously entered characters.

I tried the codepen which works. I think the issue might be a race condition where the code that runs to populate new data in vue (angular in my case) can't be nested inside of the no-match listener. By the time it runs, you

[2019-06-12 03:34] tmk1991 opened #272 "Touch events causing tribute input to lose focus"
**How can we reproduce this bug?**

1. Attach TributeJS to a contenteditable div
2. Chrome debug view with mobile iOS format selected (be sure to refresh after setting up the debug console/tools.
3. use tribute @_ _ _ and when clicking/tapping/touching on a menu item, the input loses focus.

**What did you expect to happen?**
The focus and cursor should stay at the end. When in chrome without the

[2019-06-12 14:16] jujupec opened #273 "Hi everyone,"
**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base for reproducing your issue:
https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010#0

[2019-06-12 14:19] KshitizGIT opened #274 "Removing the trailing space"
In the default example, is there any settings that removes the trailing space?

[2019-06-12 14:26] jujupec commented on #273
i'm making an Angular 7 project and i use tributejs.

i put this in my TS file:
`var tribute: Tribute<{ key: string; value: string }> = new Tribute({
				values: [
					{ key: "Phil", value: "pheartman" },
					{ key: "Gordon", value: "gramsey" },
					{ key: "Jacob", value: "jacob" },
					{ key: "Ethan", value: "ethan" },
					{ key: "Emma", value: "emma" },
					{ key: "Isabella", value: "isabe

[2019-06-13 10:55] DanielRuf commented on #273
Hi @jujupec,

how do you import it in your project?

[2019-06-14 20:23] #265 closed

[2019-06-19 13:15] chanlito commented on #178
Facing same issue, anyone found a workaround?

[2019-06-19 22:05] GlennNZ commented on #153
@philippejadin is this with my fork or with the current version of tribute? I've been meaning to keep https://github.com/GlennNZ/tribute/tree/multi-character-trigger up to date, but, truth be told, I was hoping one of the core tribute team could take a look. I've been using it for trigger strings such as 'chart(' or 'CHART('.

[2019-07-02 12:43] muskangupta3 opened #277 "Doesnt work with mervick/emojionearea"
I am trying to make a project where i can add emoji and also use @mention . For emoji i have used [mervick/emojionearea](https://github.com/mervick/emojionearea) . Now i am trying to add tribute to it , and it doesnt work for a contenteditable div .

[2019-07-04 05:56] #260 closed

[2019-07-14 04:58] jkhaui commented on #274
@KshitizGIT I have a similar situation where I need to prevent trailing spaces. You can probably just set the `replaceTextSuffix` API value to '' (an empty string) to stop this behaviour.

But what I did was copy the library's /src files into my project and modify them as needed. If you go down that path, the method responsible is in TributeRange.js (line 131 if you're using textarea/input, or lin

[2019-07-15 17:23] #277 closed

[2019-07-16 09:49] gigantedocil opened #286 "Editing a mention does not trigger the mentions dropdown"
**How can we reproduce this bug?**

Using the latest version of Tribute.js (3.7.1) and making a simple example by following the example on this page https://zurb.com/playground/tribute:

[code]

**What did you expect to happen?**

After a mention is inserted (after selecting an item from the dropdown) if I backspace and delete a character and if the resulting word matches any of the dropdown, the

[2019-07-19 02:28] zquancai opened #288 "menu doesn't hide when noMatchTemplate setting value is null"
I think the following code is the problem.

[code]

the noMatchTemplate is aways not equal null. so the follow code doesn't exec.

[code]

[2019-07-19 02:49] zquancai commented on #288
I just reproduce in local, but not reproduce in codepen.
because code in codepen not the same as master branch.

https://cdnjs.cloudflare.com/ajax/libs/tributejs/3.1.0/tribute.js
![image](https://user-images.githubusercontent.com/8609783/61505851-d0291f80-aa12-11e9-9a72-1029b80acf20.png)

[2019-07-19 06:47] zquancai commented on #261
it is the tribute bug

[2019-07-19 11:37] Postlagerkarte commented on #288
I believe that might already be fixed with my pull request #280 , which hasn't been merged yet

[2019-07-19 13:42] pleunv commented on #213
Running into the same issue. Slowly trying to figure out (man, IE debugging is awful) and I'm running into a weird quirk with `window.getSelection()` in IE10/IE11. The first time it gets triggered in a paragraph it returns the text node as `anchorNode`, as it should... However, upon any subsequent triggers it returns the parent HTMLParagraphElement instead which in its `textContent` also contains

[2019-07-19 14:47] pleunv commented on #213
Funnily enough, if you add an empty html element at the end of your `selectTemplate` it seems to work around the issue... Something like
[code]

[2019-07-20 02:18] zquancai commented on #288
Cool! But I think you solution maybe not a best way to fix it, because someone want to return 0 or string 0 when no match. But this case not occur generally.

[2019-07-20 08:10] Postlagerkarte commented on #288
You can return it like this

[code]

Or do you have another use-case in mind?

[2019-07-22 02:06] zquancai commented on #288
My mean is it must be exec when user use config with a no-match func, whatever what func is.

I just think you solution is a bit of complex. You can review my [code](https://github.com/zurb/tribute/pull/289/commits/9d6f0a9dff64198d90dd8749ea49188f4e1bf693#diff-5b3435b5541e95671e7c1ff53dbf4e7cL99) .

And you can config it by merge default config.

[2019-07-22 09:58] Postlagerkarte commented on #288
@zquancai You code does not fix my initial issue ( it still shows an invisible menu instead of hiding it , which in turn leads to problems in multiline textareas and it does not work when a users adds a string as template  ).  I added test cases to my code to cover all scenarios with the noMatchTemplate.

[2019-07-23 01:50] zquancai commented on #288
Ok, I see. Can you provide a codepen link? like [this](https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010#0), that will be easy to reproduce this bug.

[2019-07-24 15:21] #288 closed

[2019-07-26 10:45] kgrosvenor opened #292 "On select event?"
How to get the active data inside tribute other then text or spans, i'd expect a array of tags and the raw text?

**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base for reproducing your issue:
https://codepen.io/mrsweaters/pen

[2019-07-26 11:26] kgrosvenor opened #293 "How to set initial mention text before attaching"
**How can we reproduce this bug?**

1. Step one
Add some text like @Gordon Ramsay

2. Step two
Check that tribute populates the elements in the content editable div
3. Step three
I expected menu template, and select menu template to be rendered, they were not, how can we force this?

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base f

[2019-07-26 12:36] jkhaui commented on #292
What do you mean - like a NodeList with each Tribute item's properties when it's active? Or you only want the properties of the item that's selected?

https://codepen.io/jkhaui/pen/BXLMGM?editors=0010

^ Check the console after triggering a tribute menu, I added some console log statements with the active tribute items. But I'm not sure if that's what you were after

[2019-07-26 13:04] kgrosvenor commented on #292
Yeah essentially the node list but only and array of string values were interested in plus the text typed including the trigger text

[2019-07-26 13:05] kgrosvenor commented on #292
Another event listener I think for

tribute-selected / changed

[2019-07-26 13:06] kgrosvenor commented on #292
{
  text: 'hi (Gordon),
  values: ["Gordon"]
}

[2019-07-26 13:14] kgrosvenor commented on #292
Currently to achieve this behaviour i have

[code]

[2019-07-29 14:32] unitehenry opened #294 "Editor looses range on inserted element"
**How can we reproduce this bug?**

[code]

Everytime a space is added after the mention, an error is thrown.

[code]

**What did you expect to happen?**
For the editor to insert a new node into the elements body.

**What happened instead?**
The element is added but the editor's range does not recognize the offset of the new node.

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
![mention](https

[2019-07-31 12:10] unitehenry commented on #294
Here was my fix:

[code]

*on mount*

[code]

**works perfect** 👍

[2019-07-31 12:10] #294 closed

[2019-08-02 01:06] allaud commented on #87
@evansims this does not seem to be working anymore, can you please take a look?

[2019-08-02 12:17] sunny-anuvadiya-kevit commented on #153
Hey guys i'm having same problem. it this going to be a resolved in new enhancement or anyone found any work around ?

[2019-08-02 13:56] mlturner88 opened #296 "Highlight Class not applied when menuItemTemplate returns HTML"
**How can we reproduce this bug?**

1. Create `menuItemTemplate` function that returns HTML (e.g. ```<div>${item.original.name}</div>```)
2. Add a background highlight CSS class for the `selectClass` option
3. Once the tribute menu opens, attempt to hover over the items

**What did you expect to happen?**
The CSS class provided to for the `selectClass` option to be applied to the tribute result.
*

[2019-08-02 14:30] jkhaui commented on #296
What I notice is the highlight actually is being applied if you move your mouse over an item; the issue is there's a lot of latency. E.g. try moving your mouse slowly from the first item to the bottom, and the highlight should be applied

I think the issue is caused by this code in /tribute.js

`            items.forEach((item, index) => {
                let li = this.range.getDocument().createEl

[2019-08-02 14:36] mlturner88 commented on #296
I agree. If the event target isn't the `li` element then it cannot find the index properly. I fixed this locally and can submit a PR if you want.

[2019-08-02 15:16] jkhaui commented on #296
I don't maintain this library but have also had to hack part of the codebase myself to get it how I want. Glad to hear you got it solved.

[2019-08-02 15:40] mlturner88 commented on #296
All right I have a PR #297  that addresses this. Please let me know if anything needs to be updated or changed about it.

[2019-08-02 20:24] vick-subbu opened #298 "When mention container is bottom of screen positioning (bottom) is incorrect"
**How can we reproduce this bug?**

1. Step one
Go to the demo page: [https://zurb.github.io/tribute/example/](https://zurb.github.io/tribute/example/)
2. Step two
Scroll down to a place until the traditional form elements are visible at the bottom of the page
3. Step three
Now start typing '@' you would notice that the **menuContainer** would be positioned incorrectly (bottom value is incorrectly

[2019-08-02 20:27] vick-subbu commented on #298
Is there an easy way to change/override the position values when top='auto'; Any help would be really appreciated, this one use-case is having us blocked to go live

[2019-08-05 14:49] #296 closed

[2019-08-05 14:49] mlturner88 commented on #296
After my PR was merged this is fixed in version `3.7.2`

[2019-08-07 08:54] filipjuza commented on #87
@allaud seems like `hideMenu()` and `selectItemAtIndex()` are not available anymore, at least from what I can tell based on the type declaration file https://github.com/zurb/tribute/blob/master/tributejs.d.ts.

I was able to get it working like this:

[code]

When tribute is active, pressing enter inserts the selected item and closes the menu automatically. Otherwise you get the default Quill beha

[2019-08-07 18:58] mrsweaters commented on #298
I'm able to reproduce this, I'll have some time to look at this today. It looks like the float: right is causing an issue here.

[2019-08-07 19:38] allaud commented on #87
Whoever gets into this issue I found it easier to use `https://github.com/afconsult/quill-mention` instead in this particular case

[2019-08-08 08:55] fightknights commented on #266
Ran into this problem aswell. Added a pull request (#299)

[2019-08-13 13:16] poradz opened #303 "Gulp was added to dependencies"
**How can we reproduce this bug?**
Gulp was added to dependencies

**What did you expect to happen?**
Merge https://github.com/zurb/tribute/pull/302

**What happened instead?**
Gulp exists in dependencies, which causes problems for dependency managment in open source projects such as YetiForceCRM.

[2019-08-13 18:50] pmdarrow opened #304 "Mentions menu does not open when remote data fetches slowly"
**How can we reproduce this bug?**

1. Visit the JS fiddle I've created: https://jsfiddle.net/5t71sxfL/5/
2. Simulate slow API responses by setting browser to "Slow 3G". In Chrome dev tools:
![bug](https://user-images.githubusercontent.com/586800/62967641-c27f7380-bddf-11e9-9fda-f130d9a11c33.gif)
3. Type in "@chew" and wait. (If you observe the Chrome Network tab, you'll notice a response comes ba

[2019-08-14 21:28] Postlagerkarte commented on #304
This a race condition between the promises and the tribute is active flag is already set to false so nothing is shown on screen.

Anyways here is a workaround:

https://jsfiddle.net/kj1t6o5L/

[2019-08-15 13:56] pmdarrow commented on #304
@Postlagerkarte thanks, that seems to work and has the added benefit of preventing the menu from displaying "old" results and then immediately replacing them with the more recent ones after the user has typed a word and then waits.

[2019-08-23 07:49] hessellund commented on #298
Is there any news on this one? This is also a blocker for us.

[2019-08-30 00:06] dessalines commented on #264
I'm also getting this error. Anyone get this working with typescript?

[2019-08-30 00:11] dessalines commented on #264
I got it half working, although it still gives me typescript errors:

[code]

Gives me the error: `cannot invoke an expression whose type lacks a call signature`, and its not checking the types, but at least it works.

[2019-08-30 00:18] dessalines commented on #270
Has noone really got zurb working with emojis?

[2019-08-30 00:20] dessalines commented on #186
@jamauro Do you have emojis working? It'd be really helpful if you posted your template here!

[2019-08-30 03:28] dessalines commented on #264
Nevermind, this is still broken @mrsweaters .

    "tributejs": "^3.7.2",
    "typescript": "^3.5.3"

[2019-08-30 03:52] dessalines commented on #273
Typescript is currently broken not just for angular, but for all typescript.

[2019-08-30 04:25] DanielRuf commented on #273
Hi @dessalines,

I doubt that.
Can you explain that in detail?

[2019-08-30 04:29] DanielRuf commented on #273
In general the code is not specific to Angular.

What you to do is to check how you import `Tribute`.

See https://github.com/zurb/tribute/blob/master/src/index.js#L6

[2019-08-30 04:30] DanielRuf commented on #303
Hi @poradz,

What exact issues do you face?

[2019-08-30 04:50] dessalines commented on #273
Just doing:

`import Tribute from 'tributejs'; new Tribute({....` fails in typescript, with the above error.

Doing `import * as tribute from 'tributejs'` passes with typescript errors, but fails with uglyfying and such later on bc of a no constructor error.

[2019-08-30 05:51] DanielRuf commented on #273
I think it makes no difference if it is normal ES6 or TypeScript.

Generally it should work. The typings file should be also correct.

Can you share some sort of codepen so we can reproduce it?

[2019-08-30 05:56] gunak50 commented on #273
Issue also reproducing in stackblitz sample. Please give the solution
https://stackblitz.com/edit/typescript-dn2v2z

[2019-08-30 06:00] gunak50 commented on #273
`import * as tribute from 'tributejs' `   this also getting error

https://stackblitz.com/edit/typescript-zefjpw?file=index.ts

[2019-08-30 07:06] DanielRuf commented on #273
Sorry but I see a different error there, `Import error, can't find file:`

[2019-08-30 07:14] DanielRuf commented on #273
Sorry but I see a different error there, `Import error, can't find file:`

This may be because of line 7 at https://unpkg.com/browse/tributejs@3.7.2/dist/index.js but there is no `Tribute.js`, only `tribute.js`.

[2019-08-30 07:21] DanielRuf commented on #273
Try `import Tribute from "tributejs/src/Tribute.js";` for the ES6 build. The dist build is the ES5 version with a bug (file naming).

https://stackblitz.com/edit/typescript-in1apr?file=index.ts

[2019-08-30 07:38] DanielRuf commented on #273
You can see the problem here. There are build files with uppercase letters and build files which  reference the ones with the uppercase characters.

https://github.com/zurb/tribute/tree/master/dist

The `Tribute.js` file is missing there but this is also a name conflict - some filesystems are case insensitive so they only allow one file (which is tribute.js).

This is a general problem with the bu

[2019-08-30 08:05] DanielRuf commented on #273
Also related: https://github.com/zurb/tribute/pull/312

[2019-08-30 08:15] gunak50 commented on #273
Thanks @DanielRuf  . It working fine now

[2019-08-30 11:46] gunak50 commented on #273
I couldn't not reproduce the above issue in any stackblitz or codepen samples  ` TypeError: tributejs_1.default is not a constructor`

When I am trying to run locally the error has been occured.I have shared the  code snippets of this issue.

default.html
`<div id="caaanDo">I'm Mr. Meeseeks, look at me!</div>`

default.ts
[code]

When I compiling the above ts file the following javascript file has

[2019-08-30 15:30] DanielRuf commented on #273
Please try the recommended solution using the `src` folder and the other examples.

[2019-08-30 19:29] dessalines commented on #273
@DanielRuf thanks! That does seem to work for ES6, even though I still get "could not find declaration file" warnings for the typings.

[2019-08-30 20:11] mrsweaters commented on #264
@dessalines Thanks for reporting! Do you have any ideas on how to fix it? I don't use TypeScript myself.

[2019-08-30 20:13] mrsweaters commented on #303
Should be resolved now.

[2019-08-30 20:13] #303 closed

[2019-08-30 20:16] dessalines commented on #264
@DanielRuf found a temporary fix over in #273

[2019-08-30 21:06] mrsweaters commented on #273
@DanielRuf Did your PR help with this issue? I just released `3.7.3` if you have some time to test it.

[2019-08-30 22:06] DanielRuf commented on #273
Generally the dist files are the transpiled modules - which is ES5.

For ES6 you need the src files. Default is dist.

The initial issue was not reproduced by the reporter. At least StackBlitz shows another issue. In your case might have referenced old files from there.

[2019-08-30 22:06] DanielRuf commented on #273
I think we should add the cases from this issue as additional unit tests.

[2019-08-31 15:55] dessalines commented on #298
I'm getting this too.

[2019-08-31 15:56] dessalines commented on #298
#178

[2019-09-02 09:01] stepwright commented on #178
I have found a workaround. Not fully tested yet but I have modified the following in the trubute.js file

![tributeChange](https://user-images.githubusercontent.com/30074377/64102699-6073b780-cd68-11e9-86ad-7a26e88450c5.png)

It seems to work  if you are using a contenteditable tag. You may need to modify code elsewhere too, for example if you are using an input field as the target.

[2019-09-02 15:04] vkozelka opened #314 "Loading indicator or beforeLoad and afterLoad events"
**How can we reproduce this bug?**

1. Initialize Tribute
2. Try to search if remote data is large
3. Display menu immediately with loading indicator or fire events before values function called

**What did you expect to happen?**
Display specific item (for example loadingItemTemplate)

**What happened instead?**
tribute waiting for complete data and callback if values are function

[2019-09-06 19:47] dessalines commented on #298
Does anyone have a temp fix for this?

[2019-09-06 20:15] mrsweaters commented on #178
@stepwright Can you try doing a PR for this?

[2019-09-09 05:48] gunak50 commented on #273
@DanielRuf  Still I couldn't resolve this issue
My tsconfig file is

`{
  "compilerOptions": {
    "target": "es5",
    "module": "amd",
    "declaration": true,
    "removeComments": true,
    "noLib": false,
    "experimentalDecorators": true,
    "sourceMap": true,
    "pretty": true,
    "allowUnreachableCode": false,
    "allowUnusedLabels": false,
    "noImplicitAny": true,
    "noImplicitRe

[2019-09-09 07:22] DanielRuf commented on #273
Don't use this. Use `import Tribute from "tributejs/src/Tribute.js";`

[2019-09-09 07:25] DanielRuf commented on #273
@gunak50 can you check what the right import statement for 3.7.3 is? It should work by default.

[2019-09-09 07:27] DanielRuf commented on #273
Here it says it can not find `utils.js`:
https://stackblitz.com/edit/typescript-kkbmxk?file=index.ts

[2019-09-09 08:01] DanielRuf commented on #273
@mrsweaters isn't the src folder needed for the ES6 version? Because browserify is for the browser, not NodeJS.

https://github.com/browserify/browserify/issues/1186

[2019-09-09 08:05] DanielRuf commented on #273
For the browser it works with the browserify bundle:
![grafik](https://user-images.githubusercontent.com/827205/64513689-6712a980-d2e9-11e9-80a8-c1d948d5fea4.png)

[2019-09-09 09:02] trungnv08 opened #318 "Textarea with absoluted position is not working correctly"
In the example page, @mention is displayed at the top of  container element. It should be at the top of textarea.
If i set css: `position:absoluted;`, it work fine.
Then i set position for that textera, it fails.
![Screenshot (34)](https://user-images.githubusercontent.com/50939110/64517801-3a778580-d31b-11e9-8aa2-ddaa8b2f131a.png)

[2019-09-10 19:37] sanjogs commented on #318
#298

[2019-09-10 19:38] sanjogs commented on #178
Having the same issue, and it's blocking our go live. Any temporary fix?

[2019-09-10 19:40] sanjogs commented on #298
Having the same issue, and it's blocking our go live. Any temporary fix?

[2019-09-10 23:22] jamauro commented on #186
Hey @dessalines, I think if I were to do this again, I would use the feature that was added here: https://github.com/zurb/tribute/pull/240.

My current solution looks a lot like this: https://github.com/zurb/tribute#loading-remote-data

[2019-09-10 23:54] dessalines commented on #186
Thanks, I did find a data source, @WebReflection made a wonderful library here: https://github.com/WebReflection/emoji-short-name

Then to get it into tribute, you can just do:

[code]

[2019-09-11 19:05] mrsweaters commented on #318
So this appears to be working fine if you specify in your tribute config a menuContainer that is positioned in the document, such as `document.body`.

[2019-09-11 19:06] mrsweaters commented on #298
https://github.com/zurb/tribute/issues/318#issuecomment-530521471

[2019-09-11 19:07] mrsweaters commented on #298
I'm closing this, this isn't an issue with tribute, but the way tribute is configured. Feel free to reopen if you have further issues or require further help!

[2019-09-11 19:07] #298 closed

[2019-09-11 19:07] mrsweaters commented on #318
Duplicate of https://github.com/zurb/tribute/issues/298

[2019-09-11 19:07] #318 closed

[2019-09-11 21:43] dessalines commented on #298
I can verify this still is failing, even when using `menuContainer`. If the number of menu items exceeds the bottom of the screen, it repositions the entire dropdown to the top of the page, and you have to scroll up to see it.

[2019-09-11 21:48] mrsweaters commented on #298
@dessalines please share your issue in a codepen or submit a failing test.

[2019-09-11 22:08] dessalines commented on #298
Done: https://codepen.io/happydooby/pen/XWrqBKe

[2019-09-11 22:16] mrsweaters commented on #298
Ah, try making the parent of `menuContainer` relative so that absolute elements can be positioned within it. Example: https://codepen.io/mrsweaters/pen/MWgGBvo

Still, would be nice to flip the list.

[2019-09-22 15:58] riophae opened #323 "Issue with `menuItemLimit`"
**How can we reproduce this bug?**

1. Open: https://codesandbox.io/embed/tributejs-bug-reproduction-lt2g2
1. Press <kbd>@</kbd> in the input box, the menu should show.
1. There are 5 options in total. With `menuItemLimit: 3`, only three options are displayed at the same time.
1. Press <kbd>ArrowUp</kbd>.

**What did you expect to happen?**

The menu should scroll and "option5" should be highlight

[2019-09-24 11:16] trungnv08 opened #326 "ShowMenuForCollection function not working correctly"
Try using a show Mention button in near textarea. When i click tat button, '@' insert in start of textarea, not in cursor or end of content
![image](https://user-images.githubusercontent.com/50939110/65507109-5e2ff380-def7-11e9-918f-8e59c899ee37.png)

[2019-09-25 11:15] #326 closed

[2019-09-25 21:13] kgrosvenor opened #330 "Backspace to remove a mention is not working in Firefox"
**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base for reproducing your issue:
https://codepen.io/mrsweaters/pen/OxxdWv?editors=1010#0

[2019-09-27 01:26] aldhsu commented on #298
@mrsweaters I'm not sure if I'm doing something wrong but I can't get a `menuContainer` to position the menu correctly if it is not the last element. Repro: https://codepen.io/aldhsu/pen/WNeWMxm.

My hunch is this code should not add the `rect.top` or `rect.left` if the `menuContainer` is specified:

https://github.com/zurb/tribute/blob/a1110134b61233baf91ae38ece97f3a99b80295a/src/TributeRange.js#

[2019-09-30 17:58] mikerogne commented on #262
@senky why was this closed? did you find a solution?

[2019-09-30 19:50] ConnorWin opened #332 "being able to control when the list modal opens and closes"
It would be useful to programmaticly trigger when tribute opens and closes using this library. Like hitting "tab" on a list option would cause an @mention but then tribute remains open and then hitting "enter" would cause and @mention and tribute would close.

[2019-10-03 11:44] kgrosvenor commented on #330
@robin-philip-thomas doesn't work?

[2019-10-03 11:47] kgrosvenor opened #333 "How to repopulate a string containing mentions?"
**How can we reproduce this bug?**

1. Step one
Attach to div

2. Step two
Load value in div

3. Step three
String is loaded without formatting

**What did you expect to happen?**
For tags to repopulated based on the string and trigger property

**What happened instead?**
Unformatted string shown in mention box.

<img width="1020" alt="Screenshot 2019-10-03 at 12 46 47" src="https://user-images.gi

[2019-10-03 11:58] kgrosvenor commented on #333
Currently i am doing this, built in solution would be nice though...

[code]

[2019-10-03 15:35] #323 closed

[2019-10-05 20:13] StCyr opened #336 "how to allow trigger character in mentions?"
**How can we reproduce this bug?**

I'm using your component in an ActivityPub software. There, mentions look like the following: `@username@domain`.

So, I've a trigger on `@` to kick-off tribute's selection menu.

This works pretty good but, if the user tries to type the mention's domain part, tribute will spawn a new selection menu as soon as the user type the second `@` character.

Is it possi

[2019-10-09 11:18] ReneS1991 commented on #53
@mrsweaters It looks like the fix ain't working anymore? I tried on https://zurb.github.io/tribute/example/ but I got the same issue there.

In the example, when I type `@j` I get the dropdown, then when I add a B (`@jb`) I don't get any results and therefore no dropdown, then when I backspace to get back to `@j` it doesn't show the dropdown.

I'm using version `3.7.3` in my project.

[2019-10-09 13:24] fuhailin opened #341 "How to display item.value in tribute-container and lookup by item.key"
**What did you expect to happen?**
I would like to display item.value in tribute-container and lookup by item.key when I set `lookup: "key"`
**What happened instead?**
When I set `lookup: "key"`, the tribute-container will display the content of  item.key and lookup by the content of item.key

[2019-10-09 16:28] mrsweaters commented on #53
@ReneS1991 There were some changes around noMatchTemplate recently, this may have affected this behavior.

[2019-10-09 16:31] mrsweaters commented on #336
@StCyr This could be doable since there is no leading space. Seems like a reasonable request.

[2019-10-09 16:32] mrsweaters commented on #341
@fuhailin Thanks for reporting your issues! Can you provide a link to an example on Codepen or similar? Thanks!

[2019-10-10 07:37] jcubic opened #342 "Scrollbar offset issue"
**How can we reproduce this bug?**

1. Open demo https://zurb.github.io/tribute/example/
2. Scroll down a bit to have textarea visible
3. Type state to see autocomplete

**What did you expect to happen?**: autocomplete element should not move

**What happened instead?**: the div with autocomplete is not below text

[2019-10-10 10:24] StCyr commented on #336
@mrsweaters Cool!

any idea how this should take place? and where?

## how?

- when a trigger character is typed, first verify that there are no selection menu opened?
- others?

## where?

- here? https://github.com/zurb/tribute/blob/470a3139fa2f76de4597b10322d768a3f3cb813c/src/TributeEvents.js#L135
- here? https://github.com/zurb/tribute/blob/470a3139fa2f76de4597b10322d768a3f3cb813c/src/TributeE

[2019-10-11 06:28] tricoos commented on #153
I have the same problem. `requireLeadingSpace` set to false but the trigger '`${'` does not work at all so this is still unfixed in general I would assume.

[2019-10-14 10:47] paulincai opened #345 "React component not maintained"
The React project mentioned in the main page is no longer maintained.

[2019-10-21 09:53] ReneS1991 commented on #53
Okay, any idea if the behaviour will get fixed in the (near) future?

[2019-11-01 03:35] stof opened #352 "Shipping an ES module build"
The readme describes this library as an ES6 mentions library.
While it is true that ES6 is used for contributors, users of the library only receive an UMD build. There is no `module` field in package.json pointing to an ES module build.

And this is quite unfortunate for webpack users (many projects out there), as webpack has a bunch of optimizations which are applied only for ES modules, not for

[2019-11-08 19:45] unitehenry opened #357 "Reducing the amount of calls to the server"
This is for anyone who is trying to limit the amount of AJAX calls being sent to the server when searching/filtering for ```values```.

https://gist.github.com/unitehenry/298e43741fa4a6eae1f297996768856c

[2019-11-08 19:45] #357 closed

[2019-11-08 20:51] BrennaEpp opened #358 "tribute-replaced event listener interferes with the selectTemplate insertion"
**How can we reproduce this bug?**
I am using Vue.

Add an event listener to the tribute element for `tribute-replaced` in which you modify a variable on the instance.

[code]

[code]

**What did you expect to happen?**
The instance is modified, no side-effects.

**What happened instead?**
The instance is modified, but the `selectTemplate` of the collection gets loaded in for a second and then dis

[2019-11-25 17:25] mrsweaters commented on #352
@stof Thank you for your suggestion, this is a great idea. I would welcome a pull request adding this functionality. Would you mind doing a PR for this? Thanks!

[2019-11-25 17:39] stof commented on #352
There is 2 ways to go for this:

1. pointing `module` to the original ES6 source code
2. pointing `module` to a bundle file using ES exports, while being processed for many other things

The option 1 is fine if your ES6 source code does not depend on unstable ES features. Someone needing to support older browsers could still configure their Babel to process the tribute code, but that would work ea

[2019-11-26 21:43] mrsweaters commented on #352
@stof Thank you for the detailed options. I think option 1 would be the best approach to go with as it appears that most implementation these days have some form of transpiler in the build process.

[2019-11-26 23:21] mrsweaters commented on #345
That's unfortunate! I have updated the README to reflect this, thank you!

[2019-11-26 23:21] #345 closed

[2019-12-25 09:38] HASSANDL commented on #274
I set replaceTextSuffix = '' but not replace @
version: 4.1.1

[2019-12-29 02:36] bdeboer95 opened #376 "Tribute container jumps to the top, out of sight"
I have created a HTML editor in which the user can add multiple snippets (from the Innova editor) or also self-created HTML snippets.

`let tribute = new Tribute({
    trigger: '@',
    values: function (text, cb) {
        remoteSearch(text, users => cb(users));
    },
    lookup: 'screenName',
    fillAttr: 'screenName',
    allowSpaces: true,
    menuItemTemplate: function (item) {
        retu

[2019-12-30 22:38] bdeboer95 commented on #376
I figured it out! It seems that this code is setting the top position of the menu to 'auto' :
<img width="940" alt="image" src="https://user-images.githubusercontent.com/7779527/71603454-2622f700-2b5d-11ea-9c8c-839809dd8e28.png">

I understand why, because the menu is "out of sight" on the bottom position, since the editor is pretty small at first. And since the contenteditable element that it's i

[2020-01-09 23:23] tsofronis opened #383 "Issue with Froala WYSIWYG integration"
I am following the documentation at https://www.froala.com/wysiwyg-editor/examples/tribute-js. However, I am implementing it using an iframe in the WYSIWYG editor.

The Tribute.js functionality is not working correctly when I set the Froala option to use an iframe to ‘true’.  I have included two jsfiddle urls which illustrate the issue.

I believe the issue can be tracked down to line: https://git

[2020-01-10 12:02] HASSANDL commented on #274
I change line 1141 tribute.js
before:
[code]
after
[code]
my problem solved.

[2020-01-10 14:05] adadgio commented on #260
How did you solve this ??

[2020-01-10 16:21] lcwalther opened #385 "Tribute container does not reopen after searching for a non-existing value"
**How can we reproduce this bug?**

1. Step one
Trigger the tribute component, e.g. by pressing "@"
2. Step two
Type in a letter combination that exists in the values array, e.g. "Jor". "Jordan Hemphrey" is shown.
3. Step three
Add an "f" so that you typed in "Jorf" which is a combination that does not exist in the values array. The tribute container disappears.
4. Step four
Press backspace to del

[2020-01-10 21:31] Alex61NN5 commented on #260
@adadgio I didn’t, I switched to a different package

[2020-01-13 17:40] mrsweaters commented on #383
It currently doesn't work correctly with iframes, this is a known issue. I started working on a solution if you want to get a sense of what needs to be done to make it work:
https://github.com/zurb/tribute/pull/305

[2020-01-14 10:49] karthikdeva opened #392 "When we apply some style in contenteditable, popup menu opens automatically. How can we prevent or open only when there is a keyboard event?"
**How can we reproduce this bug?**

1. Step one
  Use contenteditable with autocompleteMode:true
2. Step two
   type some text and apply some styles (Bold, Italic, undeline ...etc)
3. Step three

**What did you expect to happen?**
    Popup menu should appear only when user enter through keyboard.
**What happened instead?**
   when there is event/change detection, popup men opens up.

**Link (jsfi

[2020-01-17 12:07] valentinstn opened #393 "Use the autocomplete mode with other separation characters than empty spaces"
Usually, the autocomplete search is triggered always when a new word starts (i.e. after an empty space or at the start of the contenteditable div).

Is there a way to use other "separation characters" (like mathematical signs "+" or "-") to only use the parts after that sign for autocompletion search?

If no, I'd contribute something that adds it.

[2020-01-20 05:14] hyesung219 opened #394 "Other languages(korean..) isn't working after @3.7.2"
**How can we reproduce this bug?**

1. Step one

Type @한글(korean)

**What did you expect to happen?**

Version @3.7.1 is working as I expected but not after.

**What happened instead?**
can't compositing one word when the mention function starts

https://codepen.io/gdev219/pen/RwNqoVE?editors=1010

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
here is the working pen
FYI If you want to make a

[2020-01-22 08:49] SanderVanKeer commented on #45
I'm trying to attach Tribute to SimpleMDE. I tried to attach the tribute to the textarea in the CodeMirror. The tribute works fine until I select something from the list, the value is not shown in the textarea.
Do you know to what element I should attach the tribute in order for it to work?

Thanks in advance!

[2020-01-22 23:38] hyojin commented on #394
Hi @hyesung219
I'm facing the same issue and found that the new way of getting caret position breaks composition.
Not sure my PR will be merged or not but will send today or tomorrow.

[2020-01-23 21:58] GlauberF opened #396 "indicate initial and final trigger"
I don't know if you have this possibility, but I would need to be able to select more than one menu item, so I was able to do that, I would have to be able to define an initial trigger and a final one, to close the menu.
Because what I need to do in practice is to put together a mathematical formula.
example:
**@exec{value1+value2}**

in the trigger field today, I have <b>@exec{</b> and in the men

[2020-01-27 14:18] Indrajith-Sync opened #397 "Any examples for remote data search with Tributejs"
Is there any demo sample code for accessing the remote data stored with TributeJs.

https://github.com/zurb/tribute#loading-remote-data

Any suggestions over this?

[2020-01-28 06:18] yellow1912 commented on #269
I think it will be difficult. There are 2 ways that I think this can happen:

1. Highlighting the text in the preview screen only.
2. Highlighting the text directly inside the editor.

The 2nd way is more intuitive but I think we will have use the editor's api (depending on the exact editor you use) to add a wrapping tag such as <span style="color:blue">@something</span> in order to highlight the

[2020-01-31 18:46] mxgl commented on #257
this would be very useful

[2020-02-06 04:15] inbukhari opened #407 "error TS2339: Property 'showMenuForCollection' does not exist on type 'Tribute<Object>"
I am using trinute with froala. I have a link that adds the # to the editor and then i want to trigger the tribute popup. for that i added a line

`this.tribute.showMenuForCollection(editor);`
but when the app compiles it throws an error "error TS2339: Property 'showMenuForCollection' does not exist on type 'Tribute<Object>" in console

My tribute declaration is
`this.tribute = new Tribute(this.tr

[2020-02-07 09:50] daothanhloc commented on #166
@keligijus i need some code example

[2020-02-07 18:53] mrsweaters commented on #394
Fixed in #394

[2020-02-07 18:53] #394 closed

[2020-02-07 18:58] inbukhari opened #409 "show the popup above the character"
Is there a way to show the popup above the character? Ideally a flag like showAbove, false by default and if set to true the popup shows up above @ instead.

[2020-02-07 19:04] mrsweaters commented on #330
I'm aware of this bug, unfortunates @robin-thomas-e1391 is right, this is a bug in Firefox. The only workaround is to be aware of the template syntax you've selected and detect cursor position around this element.
https://stackoverflow.com/questions/2239821/backspace-doesnt-delete-inner-html-tags-of-a-contenteditable-div-in-firefox

Due to the flexibility of custom templates, I don't think that we

[2020-02-07 23:45] kgrosvenor commented on #330
Thanks for the responses, guess we'll have to hope Firefox come up with the content editable fix at some point, will see what i can do in the mean time with this ^

[2020-02-10 14:37] NitzanShifrin opened #410 "How make backspace to work as expected?"
Using delete/backspace should pop-menu if values are a match.

When making a typo, and deleting it, the menu disappears and not coming back of, even if there are matches.
Any change to add recalculation for this kind of situation?

Let's assume my contacts are:
John Smith, Anny Li

in my contentEditable div, I type
"@Ann", so far all good, the menu displaying "Anny Li".
Now ill make a typo, new te

[2020-02-10 14:38] NitzanShifrin commented on #385
Any progress with that?

[2020-02-10 15:22] komxvl opened #411 "Show mention list items"
How I can to show mention list when clicking on mention items. Smtng like [this](https://jsfiddle.net/zaystjc6/)

[2020-02-11 12:00] NitzanShifrin commented on #385
@hyojin, are you planning to work on it soon?

[2020-02-11 23:55] dlegr250 commented on #231
Also an issue for me.

[2020-02-12 02:05] dlegr250 opened #413 "On mobile devices, hitting enter in textarea selects first item and does not input a newline"
**How can we reproduce this bug?**

1. Navigate to example demo (https://zurb.github.io/tribute/example) on a mobile device (I'm running chrome on an Android device)
2. Go to textarea autocomplete example for states
3. Just hit ENTER and it will automatically add the first item on the autocomplete list, even if the menu isn't showing. Every time you hit enter it keeps adding the first item and doe

[2020-02-13 00:53] schollz opened #414 "Option to clear line when searching for keys with spaces"
**How can we reproduce this bug?**

Here is my working example: https://jsfiddle.net/sj2mquk6/4/

In the textarea, type "`1 cup`" and then press <kbd>tab</kbd>.

**What did you expect to happen?**

I expected the line in the textarea to be replaced so it shows only "`1 cup ice cream`".

**What happened instead?**

The searching works, as it finds the correct answer, "`1 cup ice cream`" but it only

[2020-02-13 14:18] schollz commented on #414
For anyone interested, I solved this by changing the `getLastWordInText` function to:

[code]

[2020-02-13 14:18] #414 closed

[2020-02-14 00:13] hyojin commented on #385
@NitzanShifrin Hi, I did quickly go through the code and it seems it's intended behavior (at least with the current code). Unfortunately, I don't know the background of this 🤔

[2020-02-20 18:33] JakeBeresford opened #415 "[Tribute] Cannot bind to DIV in test"
I am using tribute ina vue JS project with the vue-tribute wrapper, I have a fairly simple MentionBox component that has a contenteditable DIV and some simple actions.

Everything is working nicely, until I started to write some Jest tests for the MentionBox component. I mostly want to test against those actions, but I am not able to mount the component as I get an error from this library

[code]

[2020-02-21 06:37] yahao87 commented on #261
Korean is the same.

[2020-02-27 08:09] NooruddinLakhani commented on #202
ontenteditable="false" not working correctly in Android phones. It makes the keyboard down/close on focus mention tag

[2020-02-27 08:09] NooruddinLakhani commented on #202
Any other solution ?

[2020-02-28 15:43] dessalines opened #418 "Only show menu after typing a few characters first? IE a minlength"
I've added an emoji autocomplete in my app with `:`

The problem is, that I only want the menu to open after typing maybe 2 or 3 characters, not just `:` (since this is common text). I've tested emoji shortcode autocomplete with signal, discord, and matrix, and they all appear to require at least 3 characters before opening.

Is there any way to do this?

Code
[code]

[2020-03-02 02:56] pahnpiseth opened #419 "List of ul not refresh when append new data."
**How can we reproduce this bug?**

1. Step one
 init 10 item
2. Step two
i have 9 item to replace old list
3. Step three
then i log collection have been update to 9 item but ui still show 10 item
**What did you expect to happen?**

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base for reproducing your issue:
https://codepen.io/mrswea

[2020-03-03 17:34] mrsweaters commented on #415
Thanks for reporting! Do you have `contenteditable` on the element? Can you post a codepen?

[2020-03-03 17:45] mrsweaters commented on #419
Did you try passing replace as the second argument to `appendCurrent`? By default, `appendCurrent` does not replace the existing array.

Try:

[code]

[2020-03-03 20:35] mrsweaters commented on #418
Can you check out this PR and see if it solves your problem:
https://github.com/zurb/tribute/pull/420

Adds support for `menuShowMinLength` option.

[2020-03-03 21:04] #418 closed

[2020-03-03 21:13] mrsweaters commented on #352
Done! We now have an ES Module build as of version 5.0.0.

[2020-03-03 21:13] #352 closed

[2020-03-03 21:14] mrsweaters commented on #58
Closing in favor of ES Modules for now.

[2020-03-03 21:14] #58 closed

[2020-03-03 21:29] dessalines commented on #418
Wow thanks! I'll comment again if I run into any issues.

[2020-03-03 21:34] mrsweaters commented on #407
Merged! Will release in 5.0.1

[2020-03-03 21:34] #407 closed

[2020-03-04 21:57] JakeBeresford commented on #415
I do have `contenteditable` on the element, my component is working everywhere except tests, running jest v24.9.

No codepen (too much setup) but this is the current code for my component:

`
<template>
  <div class="mention-box" :class="{'mention-box--open': isOpen}">
    <p
      v-if="!isOpen"
      class="mention-box__placeholder"
      @click="openMentionbox"

      {{ placeholder }}
    </p>

[2020-03-04 23:42] mrsweaters commented on #415
Can you try this branch in your code: https://github.com/zurb/tribute/pull/421

It might help. It looks like Jest uses JSDOM internally which has issues with `contentEditable`: https://github.com/jsdom/jsdom/issues/1670

[2020-03-06 09:44] mkrauskopf commented on #410
This seems to be a duplicate of #385.

[2020-03-06 10:26] mkrauskopf opened #425 "The menu does not respond to the trigger after a non-space character."
**How can we reproduce this bug?**

1. Go to https://zurb.github.io/tribute/example/
2. In the first input, enter `@jo`, confirm "Jordan Humphreys" selection (press `Enter`)
3. Move one character back (press `left-arrow`)
4. Enter `/@` (that is, the final text is _Jordan Humphreys/@_`<cursor>`)

**What did you expect to happen?**
Tribute menu with the choices appears after the second trigger (`@`)

[2020-03-06 15:49] mxgl commented on #257
Is there something preventing #283 from being merged?

[2020-03-06 15:59] mxgl commented on #385
I got around this with this code

[code]

[2020-03-06 21:42] mrsweaters commented on #257
Missed this one! Closing in favor of https://github.com/zurb/tribute/pull/426

[2020-03-06 21:43] #257 closed

[2020-03-06 22:08] mrsweaters commented on #425
Did you try setting `requireLeadingSpace` to false?

[2020-03-06 22:09] mrsweaters commented on #385
@mxgl Should we update the default `selectTemplate` to return the current mentionText on no match?

[2020-03-06 22:12] mxgl commented on #385
That's what I do

It creates a scenario where typing `@abc<space>` leaves the `@abc ` in the textarea rather than erasing the mention entirely.

Also, having the noMatchTemplate defined by default keeps the menu open the entire time, allowing backspacing back to a search with results to function more smoothly!

[2020-03-06 22:22] mxgl commented on #385
Can you make it return

`return this.current.collection.trigger + this.current.mentionText;`

In case there's a different trigger.

[2020-03-06 22:44] mrsweaters commented on #385
Done!

[2020-03-07 10:48] mkrauskopf commented on #393
I've missed that option. Works like a charm. Thanks a lot!

[2020-03-07 10:52] mkrauskopf commented on #425
I've missed that option. Works like a charm. Thanks a lot! Closing.

[2020-03-07 10:52] #425 closed

[2020-03-09 08:23] mkrauskopf commented on #376
This seems to be a duplicate of #178.

[2020-03-09 18:53] mxgl commented on #410
This is fixed in 5.1.2!

[2020-03-10 10:11] lcwalther commented on #385
Sorry, I really appreciate the effort you put on this library but this did not fix the main bug. The problem is that the current behaviour is _inconsistent_ when the noMatchTemplate returns an empty string (which is a requirement in my case, not to show the noMatchTemplate).
When you type something that exists and you delete a character, the list of results is still shown but as soon you type a wo

[2020-03-10 14:11] mxgl commented on #385
@lcwalther is there a reason an empty noMatchTemplate is required?

You could try
[code]

[2020-03-10 15:54] ReneS1991 commented on #215
Any news on this bug/error? In our project we are getting the same error as well when either the scrollbar or the space around the list items is clicked. See the image below, the red parts. We are on the latest version of tributejs, 5.1.2.

![image](https://user-images.githubusercontent.com/17007821/76331579-a00af580-62ef-11ea-847f-25f43bb2abea.png)

[2020-03-10 16:34] mrsweaters commented on #385
@mxgl's workaround seems to work. I'll add that to the docs.

[2020-03-10 17:06] lcwalther commented on #385
@mxgl @mrsweaters I tried it, but with this an empty list is shown instead of nothing at all, which is what I need in my case.

[2020-03-10 17:08] mrsweaters commented on #385
Could you explain your use case a little bit more? Why do you need nothing rendering? You could add a class to it and set `pointer-events: none` if you are worried about someone interacting with it.

[2020-03-10 19:08] lcwalther commented on #385
Yes, exactly, I want the `ul` removed because it looks like this, when using `<span style:"visibility: hidden;"></span>`:
![image](https://user-images.githubusercontent.com/46449694/76349709-ca1de100-630a-11ea-8063-06261dfc4248.png)

Basically, I want the same behaviour as when e.g. mentioning users here in this comment window on Github.

[2020-03-10 19:49] #410 closed

[2020-03-10 19:50] mrsweaters commented on #385
What if we add a class to the `ul`, like `tribute-no-match` so you can hide it?

[2020-03-12 12:15] subbusai2308 opened #429 "can you make an event that trigger when the mentioned name gets deleted"

[2020-03-16 20:29] piloos opened #430 "Conflict between menuContainer and contenteditable in scrolling div"
**How can we reproduce this bug?**

Use Tribute on a `contenteditable` div which is present in a scrollable div

Tribute version 5.1.2

**What did you expect to happen?**

Using `menuContainer` I should be able to get the `tribute-container` correctly positioned somewhere inside the scrollable div so that it scrolls together with the `contenteditable` element where it was attached to.

**What happ

[2020-03-17 13:43] piloos commented on #430
With the assumption that the `menuContainer` should be a close wrapper around the Tribute-attached element, I found the following issues in the two different code paths (the one for `input`/`textarea` and the one for `contenteditable`)

* **`input`/`textarea`**

In this code path, the coordinates are calculated relative (menu vs. element) and then converted to absolute coordinates.  When using a `

[2020-03-17 15:43] lcwalther commented on #385
Sorry for getting back to you so late @mrsweaters
Would this class be only added to the `ul` when there is no match? Then this solution would be perfect!

[2020-03-20 15:18] mariuszkrzaczkowski opened #432 "min file, Uncaught ReferenceError: Tribute is not defined"
when I use min files I get an error:
Uncaught ReferenceError: Tribute is not defined

if I use without min or dist/tribute.js everything works

please check if the min files are correctly generated

version: 5.1.2
file: dist/tribute.min.js
code:
[code]

[2020-03-25 17:09] mrsweaters commented on #432
I'm able to reproduce this with the version in the repo, but rebuilding it locally seems to resolve the issue. I'm not sure what happened. I'll try pushing up a new version to master and let's see if that resolves your problem.

[2020-03-25 17:13] mrsweaters commented on #432
ah, I see what the problem is, it is not exporting `Tribute` for min, it is exporting `tribute`. Will fix. Thank you.

[2020-03-25 17:18] mrsweaters commented on #432
Fixed in `5.1.3`! Thank you.

[2020-03-25 17:18] #432 closed

[2020-04-01 18:34] JakeBeresford commented on #415
Hey @mrsweaters - sorry for the slow response on this, I just came back to my component and was hoping to test it. I installed tribute from your branch and re-ran my spec but hit the same error with `[Vue warn]: Error in mounted hook: "Error: [Tribute] Cannot bind to DIV"`

I confirmed that the version of tribute in my node_modules includes your change in node_modules/tributejs/src/Tribute.js line

[2020-04-01 18:43] mrsweaters commented on #415
Yeah I'm not sure how I can help either as I can't reproduce the issue. Thank you for the follow up information and I'll keep this issue open so others with a similar issue can report.

[2020-04-02 22:14] mtomov commented on #430
I can confirm that I'm experiencing the same issues described at 3 and 4. Thank you @piloos for the detailed research into the problem, and the proposed solutions. I hope they'll be incorporated into the library.

Meanwhile I'll give [your branch](https://github.com/piloos/tribute/tree/issue-430) a try. Hope that's all right. Thank you!

[2020-04-02 22:18] mrsweaters commented on #430
@piloos This looks like it would be an improvement to me. Would you mind making a PR for this?

[2020-04-03 06:29] piloos commented on #430
@mrsweaters , sure.  Can you just quickly confirm or reject my assumptions:

* The `menuContainer` should be a close wrapper around the tribute-attached element? Eg. in a modal, it should be a `div` directly around the the tribute-attached element. It should not be the complete modal-body.  OR should this not matter?  We could make it resilient enough.  In this case the `menuContainer` should just

[2020-04-07 05:48] ozupey opened #437 "Slack/Discord search behaviour"
Is it possible to get some pointers or an example on how to mimic the behaviour of Slack and Discord search autocompletion? Here is an example video: https://gfycat.com/lastingsplendidbanteng

Specifically, some limitations I ran into trying to do this myself:

1. It doesn't seem possible to combine `autocompleteMode: true` together with `collection: []`
2. Spaces cancel autocompletion, e.g. typin

[2020-04-15 05:43] eyea commented on #51
THX

[2020-04-16 11:27] lcwalther commented on #415
I'm using tribute in a React project and I'm encountering the same problem while writing tests in jest. I created a codesandbox in which the error is happening: https://codesandbox.io/s/xenodochial-mirzakhani-vu0y1?file=/src/App.test.js
If you need any further information, please let me know.

[2020-04-16 20:34] mrsweaters commented on #415
This is helpful, thank you!

[2020-04-19 18:12] jseminck opened #449 "Discussion about RTL support"
Hello! Thanks again for such a great library, it was a breeze to implement it with our custom built wysiwyg. One of requirements for us is proper RTL support and I'm keen to make it work for this library! But I think I'll need some help or pointers where to look in the code in order to achieve this.

Actually, I tried in the example page by setting the `direction: rtl;` on the `.tribute-demo-input

[2020-04-21 19:24] Pitouli opened #450 "spaceSelectsMatch does not work (nor allowSpaces)"
**How can we reproduce this bug?**

1. https://codepen.io/pitouli/pen/YzypxoP?editors=1010
2. Type '#B' -> 'Bob' highlights
3. Press space

**What did you expect to happen?**

'#B' should be replaced by a link with 'Bob Bill' inside.

**What happened instead?**

Nothing is replaced, and the list stays open, even if the parameter `allowSpaces` is at `false`

**Link**

https://codepen.io/pitouli/pen

[2020-04-22 05:04] jseminck commented on #314
I created a PR for this, it would work something like this. What do you think?

![loading](https://user-images.githubusercontent.com/9586897/79942607-dfd90700-846f-11ea-954a-2c76da61b11c.gif)

[2020-04-25 17:05] tunt-1890 opened #453 "How to make the menu container always show upward"
Hi,

The current behavior of the menu container is it always show **downward**, only when the menu is too long, it's modified to show **upward** (by modifying the top/bottom property).

What if I want it _always_ show **upward**? How can I achieve this?

Thanks,

---

Currently, I can achieve this by removing the check for `menuIsOffScreen.bottom` and `menuIsOffScreen.top`. Making these code alway

[2020-04-25 18:33] #453 closed

[2020-04-29 07:02] developeronboard opened #457 "How to use with tinymce editor?"
What are the steps to integrate this plugin with tinymce editor?

[2020-05-02 20:29] #393 closed

[2020-05-03 06:37] MarkPare opened #462 "Handle paste event"
Very general question: What are options for handling the paste event into a `contenteditable` that uses tributejs?

Great library, thanks.

**How can we reproduce this bug?**

1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Link (jsfiddle/plunkr/codepen) or Screenshot:**
You can fork this Codepen as a base for reproducing your issue:
https:/

[2020-05-04 15:37] luislujan commented on #457
Same here

[2020-05-05 06:52] Lee1984 commented on #231
dido

[2020-05-05 16:22] Eliamar opened #463 "optgroup support"
Does this library supports optgroup?

**How can we reproduce this bug?**
Im using it with groups where each group has its title and the title should not be selectable.

**What did you expect to happen?**
To behave as option groups. Skip the group title option when navigating with the arrow keys and the highlight to be focused on the second item (first items is the first group title so skip it)

**

[2020-05-09 09:50] Lee1984 opened #466 "showMenuForCollection(input, 0, false) still inserts the @"
**How can we reproduce this bug?**

    tribute.showMenuForCollection(input, 0, { addTrigger: false});

or

    tribute.showMenuForCollection(input, 0, false);

**What did you expect to happen?**

The @ symbol not to be inserted into our input field after we click a button to open the menu as per  #196

**What happened instead?**

The `@` gets inserted. My collection object I set `trigger: "",` or

[2020-05-09 15:40] miroslavgeorgiev-rg commented on #314
Any update on this one? If not please merge the PR from @jseminck - seems to get the job done.
It is very bad UI/UX if there is no indicator that something is happening until the data is fetched..

[2020-05-09 15:46] miroslavgeorgiev-rg commented on #215
Any updates on this one?
One year later it is still unresolved...

[2020-05-12 11:13] a365344743s opened #467 "Use '@' as selectTemplate case menu position error."
**How can we reproduce this bug?**

1.  config selectTemplate as below.
  `selectTemplate: function(item) {
            return '<span contenteditable="false">' + '@' + item.original.value + "</span>";
    }`
2.  Choose one @item
3. Tap BackSpace on keyboard
4. Tap LeftArrow  on keyboard
5. Tap RightArrow on keyboard

**What did you expect to happen?**
Do not show menu or fix menu position.

**What

[2020-05-14 10:29] halloei commented on #385
Looking forward to this, too!

[2020-05-14 14:43] loicndjoyi commented on #298
@mrsweaters I'm having the same issue. Even if the menuContainer `position: relative`. I was able to make it work using this `body {position: relative}` but i'm not sure it is the best solution. Can you tell me If there is a better one? Thank you!